In [2]:
import os
import pandas as pd
os.chdir('/Users/amitagarwal/GreyAtom/Hackathon/Hotstar/')

This is a multi-stage problem. Essentially we should be building a classifier that would classify the text cases' sentiment as pos or neg. The pdf outlines that we are supposed to cluster the customers, which we would do.

In [7]:
#import train data and clean the data first.
df = pd.read_json("/Users/amitagarwal/GreyAtom/Hackathon/Hotstar/data/train_data.json")
train_copy = df.copy()

In [8]:
df.head(4)

,train-121672,train-121673,train-121670,train-121671,train-121676,train-121677,train-121674,train-121675,train-121678,train-121679,...,train-126321,train-126320,train-126323,train-126322,train-126325,train-126324,train-126327,train-126326,train-126329,train-126328
cities,"delhi:3492,mumbai:64","ahmedabad:56666,mumbai:26989",navi mumbai:29400,"chennai:77,navi mumbai:4005,mumbai:0","bangalore:5135,krishnarajapura:529,hosur:2864",bangalore:5,"gurgaon:12635,delhi:13142,nagari:3885","bangalore:373,chennai:6205,mumbai:77","gurgaon:1124,delhi:9492,mumbai:19504","rawalpindi:976,lahore:104",...,bangalore:1120,gurgaon:31707,mumbai:31082,"delhi:1620,navi mumbai:8848",mumbai:14760,"khanna:2295,mumbai:1548","lisboa:3756,porto:3198",kolkata:25436,"chennai:7999,delhi:8945,ahmedabad:33811",navi mumbai:49286
dow,"5:482,4:3008,7:64","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","1:77,2:3883,5:122","1:6150,3:2378",2:5,"1:15909,3:2465,2:5580,4:293,7:1283,6:4131","3:5481,4:724,7:373,6:77","1:6965,3:21,2:6183,5:1434,4:6995,7:4599,6:3923","1:1043,7:37",...,"5:50,7:1069","1:6095,3:5684,2:2943,5:6635,4:2750,7:2274,6:5316","1:6255,3:10275,2:6019,4:197,7:6901,6:1435","1:229,5:2196,7:8022,6:20","1:1333,3:147,2:249,5:304,4:7825,7:4900","1:1108,5:40,4:220,7:2472","1:948,5:2317,7:3688","1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928"
genres,"Drama:6,Cricket:3469,Wildlife:79","Drama:48949,Family:9927,Crime:1901,Romance:165...","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","Romance:77,Drama:122,Cricket:3883",TalkShow:8529,TalkShow:5,"Cricket:0,Wildlife:21,Crime:29591,Drama:10,Liv...","Romance:724,Cricket:5854,Reality:77","Drama:10090,Cricket:1124,Comedy:18907",Family:1080,...,"Drama:50,Action:582,Comedy:487","Cricket:13504,Family:17267,Reality:151,Romance...",Drama:31082,"Cricket:450,Kids:6,TalkShow:20,Wildlife:40,Rom...","Cricket:14345,Badminton:97,Reality:69,Crime:249","Cricket:3787,Reality:57","Cricket:5060,Awards:21,Crime:1872","Drama:25428,Family:7","Drama:50749,Romance:9","Cricket:17417,Reality:14947,Drama:14565,LiveTV..."
segment,neg,neg,neg,neg,pos,neg,neg,neg,neg,neg,...,neg,neg,neg,neg,neg,neg,neg,neg,neg,neg

In [9]:
#Transposing this
df = df.T

In [10]:
#select first 500 rows.
df_500 = df.iloc[:500]

In [11]:
df_500.shape

(500, 6)

Start off with the cities column. Find the total number of cities that are present, and then do a 1-hot encoding for these, giving the seconds value for the cities which have seconds value for particluar users and 0 for the rest. This should make sense intuitively.

In [13]:
df_500["cities"]

train-121672                                 delhi:3492,mumbai:64
train-121673                         ahmedabad:56666,mumbai:26989
train-121670                                    navi mumbai:29400
train-121671                 chennai:77,navi mumbai:4005,mumbai:0
train-121676        bangalore:5135,krishnarajapura:529,hosur:2864
train-121677                                          bangalore:5
train-121674                gurgaon:12635,delhi:13142,nagari:3885
train-121675                 bangalore:373,chennai:6205,mumbai:77
train-121678                 gurgaon:1124,delhi:9492,mumbai:19504
train-121679                            rawalpindi:976,lahore:104
train-199734                  kolkata:16889,delhi:180,chennai:245
train-193747    kolkata:143,gurgaon:84201,chennai:25671,mumbai...
train-123292                              kolkata:2490,mumbai:329
train-123293                                           mumbai:990
train-123290                            delhi:4655,navi mumbai:22
train-123291    pune:33,chennai:38097,navi mumbai:28054,mumbai...
train-123296                                     navi mumbai:3810
train-123297         pune:17288,delhi:5139,gurgaon:12,mumbai:2111
train-123294                                            mumbai:37
train-123295    new delhi:58,delhi:4162,ahmedabad:23408,mumbai...
train-123298                                       hyderabad:1026
train-123299            delhi:1286,navi mumbai:202723,mumbai:1508
train-38089                                     navi mumbai:10667
train-110283                     chennai:7895,delhi:258,nagar:375
train-110282                                        ludhiana:4543
train-110281                          kolkata:984,bangalore:55260
train-110280    new delhi:6418,gurgaon:74,delhi:3715,bangalore...
train-110287                         bangalore:21889,chennai:2505
train-110286                                         mumbai:28855
train-110285                                   navi mumbai:289350
                                      ...
train-100945                                           delhi:1855
train-100944                       dubayy:246036,navi mumbai:3722
train-100947                           chennai:7228,mumbai:116739
train-100946                                         mumbai:10809
train-100941    new delhi:254,gurgaon:483,mumbai:8070,delhi:93...
train-100940                                     navi mumbai:1844
train-100943                                         al kuwayt:62
train-100942                 gurgaon:42439,delhi:7,ahmedabad:1988
train-100949                                    navi mumbai:28479
train-100948          bangalore:20253,chennai:1869,bengaluru:2199
train-137792      bangalore:7464,bengaluru:6777,navi mumbai:15209
train-41333                                            karachi:27
train-80389              kolkata:3395,navi mumbai:734,mumbai:2315
train-80388                                            delhi:1352
train-80385                                          dhaka:155832
train-80384                                         karachi:34737
train-80387                      bangalore:5150,navi mumbai:20658
train-80386                                         navi mumbai:1
train-80381                                     navi mumbai:36394
train-80380     hyderabad:18035,gurgaon:853,delhi:1038,navi mu...
train-80383                                  delhi:32,mumbai:6812
train-80382                           delhi:2560,navi mumbai:2074
train-27005                                           mumbai:8943
train-27004                             gurgaon:3292,mumbai:20098
train-27007             kolkata:41,bengaluru:5101,navi mumbai:953
train-27006     gurgaon:22695,chennai:1322,ahmedabad:12163,del...
train-27001                                           gurgaon:585
train-27000                            prabhadevi:9673,mumbai:810
train-27003                                      navi mumbai:5322
train-27002                                      navi mumbai:6650
Name: cities, Length: 500, dtype: object

Before that the initial dataframe needs some cleaning.

We will remove the ridiculuos index columns, add a new column called user

In [15]:
import warnings
warnings.filterwarnings("ignore")
df_500["index"] = df_500.index

In [16]:
df_500["user"] = df_500["index"].str.replace("train-","")

We will encode segment column to pos = 1, and neg = 0

In [17]:
df_500["segment"] = df_500["segment"].str.replace("neg","0")
df_500["segment"] = df_500["segment"].str.replace("pos","1")

In [19]:
df_500["segment"].value_counts() #Imbalanced Dataset

0    442
1     58
Name: segment, dtype: int64

Now, for the first user that is 121672, the idea is to segregate each of his cities, his time of days, his days of week, his genres into seconds

Something which should look like this finally for user 1. The column names are the various cities and times, and days possible for all the users in the dataframe and the values are 0s if no value exists for that particular column for that user and a numeric if that city or time has a second value associated with it for that user. Similar to One hot encoding. or rather the pd.get_dummies.

In [24]:
cities = df_500["cities"].values.tolist()

In [25]:
cities

['delhi:3492,mumbai:64',
 'ahmedabad:56666,mumbai:26989',
 'navi mumbai:29400',
 'chennai:77,navi mumbai:4005,mumbai:0',
 'bangalore:5135,krishnarajapura:529,hosur:2864',
 'bangalore:5',
 'gurgaon:12635,delhi:13142,nagari:3885',
 'bangalore:373,chennai:6205,mumbai:77',
 'gurgaon:1124,delhi:9492,mumbai:19504',
 'rawalpindi:976,lahore:104',
 'kolkata:16889,delhi:180,chennai:245',
 'kolkata:143,gurgaon:84201,chennai:25671,mumbai:72465',
 'kolkata:2490,mumbai:329',
 'mumbai:990',
 'delhi:4655,navi mumbai:22',
 'pune:33,chennai:38097,navi mumbai:28054,mumbai:2217',
 'navi mumbai:3810',
 'pune:17288,delhi:5139,gurgaon:12,mumbai:2111',
 'mumbai:37',
 'new delhi:58,delhi:4162,ahmedabad:23408,mumbai:18809',
 'hyderabad:1026',
 'delhi:1286,navi mumbai:202723,mumbai:1508',
 'navi mumbai:10667',
 'chennai:7895,delhi:258,nagar:375',
 'ludhiana:4543',
 'kolkata:984,bangalore:55260',
 'new delhi:6418,gurgaon:74,delhi:3715,bangalore:776,mumbai:5608',
 'bangalore:21889,chennai:2505',
 'mumbai:28855',
 'navi mumbai:289350',
 'navi mumbai:2211',
 'delhi:3193',
 'delhi:12851,chennai:6082',
 'navi mumbai:1689',
 'hyderabad:10731',
 'new delhi:5215,bangalore:50581,chennai:6480,Unknown:2930',
 'gurgaon:1657,ahmedabad:11294,nagar:2038,vadodara:6434',
 'new delhi:15,chennai:9556,mumbai:9718',
 'bengaluru:957',
 'new delhi:2380,bhopal:40450,mumbai:468',
 'Unknown:44,delhi:1340',
 'mumbai:972',
 'navi mumbai:4026',
 'secunderabad:1803,chennai:1',
 'kolkata:1542,mumbai:399',
 'navi mumbai:9895',
 'gurgaon:9803',
 'navi mumbai:174',
 'bangalore:8753,mumbai:8',
 'bangalore:16156,delhi:2982,bengaluru:6670',
 'Unknown:1164,bangalore:1352,gurgaon:3',
 'delhi:2875',
 'bangalore:6075,delhi:504',
 'hyderabad:463,navi mumbai:3909,mumbai:87496,Unknown:4949,delhi:8362,bengaluru:9032,kolkata:2724',
 'mumbai:8',
 'mumbai:5012',
 'gurgaon:9595,mumbai:1091',
 'navi mumbai:1493,mumbai:6236',
 'delhi:115',
 'dhaka:122460',
 'navi mumbai:27',
 'kolkata:6575,delhi:995,navi mumbai:16100,mumbai:16670',
 'pune:110',
 'chennai:4730,navi mumbai:1088,mumbai:1125',
 'Unknown:556,navi mumbai:56',
 'pune:2858,delhi:3342',
 'bangalore:34,delhi:448,mumbai:50',
 'navi mumbai:476',
 'karachi:28',
 'new delhi:13859,chennai:8160,mumbai:15235,madikeri:4170,kolkata:2736,bangalore:9408',
 'delhi:133',
 'navi mumbai:113628',
 'gurgaon:18,navi mumbai:9835',
 'bangalore:6450,bengaluru:8440,kochi:3861,navi mumbai:28830',
 'Unknown:113070',
 'navi mumbai:132',
 'navi mumbai:22629',
 'gurgaon:1522,pune:70',
 'Unknown:863',
 'bengaluru:2063',
 'new delhi:14578,chennai:4830,Unknown:10776,delhi:12500,kochi:549,bangalore:179173',
 'pune:100,delhi:6042,mumbai:1022',
 'gurgaon:1855,delhi:565,nagari:98',
 'navi mumbai:90',
 'karachi:3066,peshawar:8,lahore:564,rawalpindi:15111,Unknown:1960',
 'Unknown:28055,ann arbor:1222,naihati:17390',
 'Unknown:28980',
 'gurgaon:236',
 'rawalpindi:312',
 'kolkata:4087,prabhadevi:4248,delhi:7061,suri:11271,mumbai:4',
 'navi mumbai:31385,mumbai:2852',
 'bangalore:363,mumbai:424',
 'prabhadevi:665,delhi:2443,mumbai:20990',
 'mumbai:3114',
 'gandhinagar:604',
 'bangalore:270',
 'kolkata:1494',
 'bangalore:1617,navi mumbai:425',
 'bangalore:15295,delhi:3716,nagar:398',
 'navi mumbai:16692',
 'delhi:3518',
 'pune:4257,delhi:732',
 'Unknown:13516,mumbai:93972',
 'new delhi:1846,bangalore:8527,Unknown:7114',
 'hyderabad:123,pune:0,delhi:2453',
 'delhi:288',
 'delhi:966',
 'bangalore:57',
 'hyderabad:1072,navi mumbai:286',
 'pune:7808,noida:5656,mumbai:4014',
 'kolkata:344,mumbai:402',
 'navi mumbai:25',
 'navi mumbai:909',
 'chennai:4645',
 'delhi:7262',
 'secunderabad:60',
 'pune:0,delhi:2223,navi mumbai:41',
 'chennai:285,mira-bhayandar:10404,mumbai:6795',
 'kolkata:68007',
 'new delhi:6161,delhi:15339',
 'delhi:316,mumbai:8146',
 'new delhi:256,delhi:223,ahmedabad:4233',
 'navi mumbai:800',
 'dhaka:252,Unknown:16977,gulshan:318',
 'prabhadevi:4670,delhi:119,navi mumbai:453,mumbai:18993',
 'gurgaon:4400,delhi:8170,mumbai:7631',
 'delhi:2544,navi mumbai:1988',
 'navi mumbai:2471',
 'lahore:16',
 'mumbai:1222',
 'navi mumbai:859',
 'delhi:46,navi mumbai:34310',
 'delhi:385',
 'navi mumbai:5990',
 'dhaka:1455,bangalore:35',
 'secunderabad:6322,delhi:10,navi mumbai:3785',
 'delhi:3278',
 'gurgaon:2473',
 'kolkata:6170,new delhi:425,delhi:2230,mumbai:10747',
 'hyderabad:16530,bangalore:280,bengaluru:235,navi mumbai:4085',
 'mumbai:516',
 'delhi:15',
 'kolkata:981',
 'pune:82',
 'delhi:56,navi mumbai:8789',
 'navi mumbai:1278',
 'karachi:2774,islamabad:625,rawalpindi:1288',
 'pune:3281',
 'gurgaon:2499,delhi:100',
 'pune:764,delhi:12988,nagari:6201',
 'mumbai:35',
 'navi mumbai:29',
 'bangalore:171,mumbai:998',
 'delhi:4',
 'gurgaon:551,delhi:5337',
 'pune:1724,mumbai:2641',
 'mumbai:868',
 'gurgaon:9674,mumbai:8',
 'delhi:2115',
 'pune:61,delhi:15660',
 'bangalore:55431,mumbai:1240',
 'karachi:83869,Unknown:24106',
 'navi mumbai:10553',
 'bangalore:17129',
 'bangalore:4491,chennai:578',
 'delhi:256,chennai:3332',
 'delhi:586',
 'navi mumbai:11989',
 'gurgaon:22466,ahmedabad:8076,navi mumbai:879,nagari:631',
 'delhi:2380,mumbai:34547',
 'chennai:363',
 'pune:212,delhi:2933',
 'navi mumbai:15',
 'gurgaon:1478,mumbai:702',
 'delhi:13,navi mumbai:6219,papeete:1041',
 'pune:4039,delhi:21489,mumbai:4136',
 'chandigarh:1426',
 'delhi:20',
 'gurgaon:6128',
 'gandhinagar:31',
 'pune:34578,delhi:16708',
 'bangalore:32147,delhi:3386,bengaluru:16163,navi mumbai:3129',
 'Unknown:13888,delhi:1594,mumbai:2446,new delhi:361',
 'chennai:24172,delhi:16118',
 'delhi:76,navi mumbai:4694,mumbai:302',
 'delhi:10169,navi mumbai:279,mumbai:1829',
 'pune:215',
 'delhi:10660',
 'hyderabad:2821',
 'delhi:1087,navi mumbai:16649,mumbai:53148',
 'pune:90703',
 'kolkata:116,delhi:374,navi mumbai:1701,mumbai:582',
 'navi mumbai:953,mumbai:4838',
 'delhi:26,navi mumbai:6141',
 'dubayy:32009',
 'delhi:17,ahmedabad:229,mumbai:80',
 'gurgaon:703',
 'kolkata:7238,bangalore:3501,bengaluru:60,mumbai:5811',
 'pune:3489,delhi:23109,nagari:1430',
 'chandigarh:126,mumbai:8',
 'kolkata:1324,bangalore:1714',
 'navi mumbai:20759',
 'chandigarh:80,bangalore:335,chennai:5,delhi:2348,mumbai:13',
 'navi mumbai:3130',
 'pune:2892,delhi:1423',
 'new delhi:2459,bangalore:19201,chennai:2668,Unknown:742',
 'delhi:528',
 'Unknown:1355',
 'karachi:3359',
 'pune:884,delhi:1999,bangalore:34',
 'gurgaon:1152,delhi:10',
 'pune:26615,delhi:26635',
 'chandigarh:0,delhi:195151,navi mumbai:702,mumbai:20109',
 'navi mumbai:5929',
 'navi mumbai:205',
 'mumbai:10',
 'prabhadevi:56',
 'new delhi:203,delhi:8326',
 'gurgaon:500',
 'navi mumbai:137',
 'navi mumbai:3688',
 'gurgaon:1655',
 'navi mumbai:1669',
 'bangalore:6876,navi mumbai:2',
 'dubayy:32186',
 'navi mumbai:926',
 'navi mumbai:19960',
 'gurgaon:9443',
 'bangalore:11222,bengaluru:3528,gurgaon:21,navi mumbai:1731',
 'delhi:1628,navi mumbai:14874',
 'delhi:3415',
 'chennai:19734,nagar:30245',
 'kolkata:22361,navi mumbai:665',
 'bhopal:15434',
 'bangalore:4997,delhi:142,pune:902',
 'navi mumbai:1649',
 'pune:60,navi mumbai:5986',
 'ar riya:91557',
 'gurgaon:9171',
 'delhi:5530',
 'gurgaon:9733',
 'gurgaon:832',
 'navi mumbai:339',
 'chennai:34545',
 'new delhi:480,navi mumbai:2905',
 'chandigarh:152,delhi:1667,new delhi:8881',
 'gurgaon:845',
 'gurgaon:5699',
 'navi mumbai:9195',
 'gurgaon:7909',
 'pune:29085,chennai:2006,gurgaon:15680',
 'gurgaon:134847,mumbai:2672',
 'mumbai:5398',
 'navi mumbai:4710',
 'chennai:4357,navi mumbai:441,mumbai:1699',
 'bhopal:1397',
 'mumbai:61495',
 'navi mumbai:1823',
 'navi mumbai:4672,mumbai:24',
 'delhi:57',
 'navi mumbai:8889',
 'chandigarh:645,delhi:6638',
 'navi mumbai:5706',
 'delhi:6987',
 'bhopal:212',
 'hyderabad:25068,bangalore:29201',
 'Unknown:264924,chennai:9573,navi mumbai:50610',
 'bangalore:13',
 'Unknown:481',
 'mangalore:197',
 'chandigarh:4696,mumbai:2454',
 'mumbai:1386',
 'kathmandu:61939',
 'navi mumbai:3764',
 'mumbai:48',
 'delhi:33589,mumbai:2378',
 'gurgaon:17989,delhi:214,mumbai:1172',
 'kolkata:1151,chennai:5343',
 'Unknown:31550',
 'Unknown:1065,bangalore:23,mumbai:5',
 'prabhadevi:130,delhi:2050,gurgaon:849,mumbai:4640',
 'pune:369,delhi:2632,thiruvananthapuram:13302',
 'navi mumbai:11755,mumbai:24055',
 'dhaka:16012',
 'chennai:1927',
 'jiddah:11157,ar riya:11892',
 'bangalore:1738,delhi:2973',
 'hyderabad:657,navi mumbai:118580,gandhinagar:8468',
 'hyderabad:37763',
 'navi mumbai:937',
 'bangalore:9009,bengaluru:3712',
 'chennai:4102',
 'mumbai:2648',
 'delhi:2317,navi mumbai:30550,mumbai:119',
 'mumbai:757,secunderabad:464,ramaiah institute of technology:2147,kolkata:14588,bengaluru:808,bangalore:23669',
 'mumbai:7675',
 'mira-bhayandar:13615,mumbai:1061',
 'mumbai:18243',
 'pune:40,delhi:3081',
 'Unknown:13861,mumbai:2320',
 'Unknown:5681',
 'navi mumbai:70',
 'delhi:25',
 'new delhi:14821,delhi:60954',
 'bangalore:3852,bengaluru:2350,navi mumbai:11328',
 'delhi:21424',
 'navi mumbai:31301,mumbai:2651',
 'navi mumbai:17320',
 'bangalore:40,delhi:2309',
 'navi mumbai:229',
 'gurgaon:85980,mumbai:3703',
 'new delhi:33,delhi:4650,mumbai:405',
 'bangalore:17188',
 'delhi:40',
 'delhi:4969,navi mumbai:2029',
 'chandigarh:3327,delhi:2561',
 'kolkata:1060,chennai:1615,mumbai:19451',
 'kolkata:175251',
 'new delhi:400,delhi:366',
 'mumbai:36149',
 'new delhi:33,mumbai:64',
 'delhi:295,mumbai:10556',
 'bangalore:19430,chennai:184,bengaluru:10030,navi mumbai:179,mumbai:7174',
 'Unknown:13612',
 'dubayy:156288',
 'bangalore:1355,delhi:8513,mumbai:4869',
 'secunderabad:17817,chennai:22222,srinagar:558,navi mumbai:9370,hyderabad:6895',
 'tiruchirappalli:31024',
 'delhi:3,mumbai:2793',
 'delhi:191,navi mumbai:12117',
 'bangalore:17',
 'bangalore:279,delhi:1719,chennai:4',
 'gurgaon:116',
 'new delhi:47,navi mumbai:36098',
 'hyderabad:25753,navi mumbai:67810',
 'delhi:2223,navi mumbai:4370',
 'bangalore:6294',
 'mumbai:13',
 'mumbai:105951',
 'karachi:22813',
 'delhi:51',
 'new delhi:2047,bangalore:80',
 'gandhinagar:8508',
 'delhi:299,mumbai:15307',
 'bangalore:1793',
 'new delhi:4348,delhi:1669,mumbai:34',
 'delhi:8945,navi mumbai:8050',
 'karachi:2591,hong kong:1416,lahore:12794',
 'delhi:3927',
 'bhopal:502',
 'dhaka:2843,chittagong:1511,gulshan:177',
 'delhi:1224',
 'mumbai:277',
 'hyderabad:730,pune:4025,delhi:3807,gandhinagar:25239',
 'delhi:24575,navi mumbai:1669,mumbai:136707',
 'delhi:22191,navi mumbai:3836,mumbai:493',
 'kolkata:7230,navi mumbai:1633,mumbai:1760',
 'hyderabad:6949,bangalore:487',
 'mumbai:12',
 'kolkata:1766,new delhi:29254,delhi:1607',
 'secunderabad:18581',
 'navi mumbai:5151',
 'surat:6597,mumbai:3936',
 'pune:1558,delhi:6780',
 'navi mumbai:4190',
 'mumbai:22',
 'navi mumbai:38',
 'bangalore:3002,delhi:11422,gurgaon:55800',
 'new delhi:7912',
 'new delhi:1008,bangalore:659,delhi:6377,bengaluru:27,mumbai:5301',
 'chennai:12491',
 'mumbai:1062',
 'navi mumbai:2056',
 'delhi:11032',
 'mumbai:12',
 'navi mumbai:7477',
 'karachi:18325',
 'chennai:17342,delhi:1560',
 'bangalore:1783',
 'pune:178,delhi:3566,nagari:1995',
 'chandigarh:713,chennai:5297,mumbai:8576',
 'thane:14945,mumbai:6633',
 'vasai:59238,pune:6126,delhi:1791',
 'mumbai:201',
 'Unknown:1358,delhi:3465',
 'delhi:15701,mumbai:11',
 'pune:274,delhi:2924,mumbai:244',
 'Unknown:80227,bangalore:6245',
 'chandigarh:40',
 'Unknown:26,gurgaon:6670,ahmedabad:8846,mumbai:6567',
 'pune:2452,delhi:2155,bengaluru:14,bangalore:1279,chennai:2522',
 'surat:1355,gurgaon:1130,ahmedabad:3584',
 'Unknown:4889,chennai:785,mumbai:2531',
 'prabhadevi:3222,delhi:33417,perth:6086,singapore:590',
 'kolkata:20048,delhi:552',
 'navi mumbai:1239',
 'kolkata:58456,bangalore:22578,delhi:2714,bengaluru:7344',
 'navi mumbai:4199',
 'Unknown:56089,navi mumbai:171,mumbai:3433',
 'new delhi:8570,mumbai:34475',
 'navi mumbai:1819',
 'navi mumbai:2826',
 'navi mumbai:5093',
 'chennai:2458,delhi:3202',
 'gurgaon:1302',
 'navi mumbai:4315',
 'kolkata:2453',
 'Unknown:19208,gulshan:0',
 'navi mumbai:815',
 'navi mumbai:778',
 'delhi:3267,mumbai:390',
 'delhi:20966',
 'kolkata:491',
 'new delhi:16432,delhi:14875,navi mumbai:131',
 'navi mumbai:3861,mumbai:259',
 'kolkata:1798,chennai:495,navi mumbai:1103,mumbai:346',
 'kolkata:8787,mumbai:32520',
 'kolkata:13941,suri:3608,chennai:21497,navi mumbai:18221,mumbai:2242',
 'hyderabad:42881,delhi:141',
 'Unknown:13,pune:1160',
 'delhi:7596,navi mumbai:1566',
 'bangalore:2319,mumbai:910',
 'new delhi:549,bangalore:6814,delhi:3838,ranchi:466,navi mumbai:13397',
 'kolkata:22502,hyderabad:3537,gurgaon:11913,mumbai:814',
 'new delhi:2011,delhi:14374,navi mumbai:2419,mumbai:40',
 'dhaka:12874,Unknown:25389',
 'kolkata:1507',
 'navi mumbai:3',
 'hyderabad:34329,navi mumbai:12958',
 'delhi:4467,mumbai:147',
 'delhi:3861',
 'delhi:19539',
 'Unknown:9031,bangalore:5425',
 'hyderabad:570,navi mumbai:15427',
 'bangalore:41,navi mumbai:13688',
 'navi mumbai:3429',
 'navi mumbai:51851',
 'delhi:1717',
 'bangalore:6100,delhi:185',
 'Unknown:11939,bangalore:24072,chennai:4440,delhi:2377',
 'delhi:5715',
 'navi mumbai:29592,mumbai:4811',
 'gurgaon:9029,delhi:17,pune:11,mumbai:2424',
 'navi mumbai:21218',
 'navi mumbai:11284',
 'delhi:1204',
 'gurgaon:19801',
 'navi mumbai:218,bhopal:179',
 'gurgaon:7431',
 'kolkata:13415,delhi:9071,bengaluru:10906',
 'navi mumbai:28536',
 'delhi:5577,mumbai:14933',
 'madrid:17225,barcelona:1357',
 'navi mumbai:967',
 'gurgaon:157',
 'delhi:29887',
 'delhi:383838',
 'kolkata:570,bangalore:699,bengaluru:1072,mumbai:168',
 'chennai:685,mumbai:3245',
 'surat:794,ahmedabad:3286',
 'hyderabad:4023,bangalore:6376,bengaluru:5063',
 'mumbai:1801',
 'navi mumbai:8040',
 'mumbai:266344',
 'delhi:22,navi mumbai:0,mumbai:3778',
 'mumbai:1022',
 'pune:964,delhi:710',
 'navi mumbai:39,bhubaneswar:4198',
 'navi mumbai:37426',
 'hyderabad:3860,navi mumbai:9597',
 'delhi:1855',
 'dubayy:246036,navi mumbai:3722',
 'chennai:7228,mumbai:116739',
 'mumbai:10809',
 'new delhi:254,gurgaon:483,mumbai:8070,delhi:933,pune:733,bangalore:1847,ahmedabad:13167',
 'navi mumbai:1844',
 'al kuwayt:62',
 'gurgaon:42439,delhi:7,ahmedabad:1988',
 'navi mumbai:28479',
 'bangalore:20253,chennai:1869,bengaluru:2199',
 'bangalore:7464,bengaluru:6777,navi mumbai:15209',
 'karachi:27',
 'kolkata:3395,navi mumbai:734,mumbai:2315',
 'delhi:1352',
 'dhaka:155832',
 'karachi:34737',
 'bangalore:5150,navi mumbai:20658',
 'navi mumbai:1',
 'navi mumbai:36394',
 'hyderabad:18035,gurgaon:853,delhi:1038,navi mumbai:1936',
 'delhi:32,mumbai:6812',
 'delhi:2560,navi mumbai:2074',
 'mumbai:8943',
 'gurgaon:3292,mumbai:20098',
 'kolkata:41,bengaluru:5101,navi mumbai:953',
 'gurgaon:22695,chennai:1322,ahmedabad:12163,delhi:15607',
 'gurgaon:585',
 'prabhadevi:9673,mumbai:810',
 'navi mumbai:5322',
 'navi mumbai:6650']

In [26]:
first_row = cities[0].split(",")

In [27]:
first_row

['delhi:3492', 'mumbai:64']

In [32]:
flat_list_1 = [item for sublist in [i.split(':', 1) for i in first_row] for item in sublist]

In [33]:
flat_list_1

['delhi', '3492', 'mumbai', '64']

In [34]:
city = pd.DataFrame(flat_list_1[0::2]).T
second = pd.DataFrame(flat_list_1[1::2]).T

In [35]:
city

       0       1
0  delhi  mumbai

In [36]:
second

      0   1
0  3492  64

In [37]:
s = pd.concat([city,second],ignore_index=True) #ignoring index is key, you will need them to reset to indexes 0 and 1
#will save countless minutes of pain, trying to figre out where the nans during concatenation came from. indexes are 
#key during a concat. if the dfs do not have similar indexes they will not concat accordingly

In [38]:
s

       0       1
0  delhi  mumbai
1   3492      64

In [39]:
s.columns = s.iloc[0] #making the first row or .iloc[0] as the header
s = s.drop([0],0) #dropping .iloc[0]th row

In [40]:
s #This is exactly what we wanted. Now all we have to do is to write a function which should do the same 
#for all the rows in the cities column for every user.

0 delhi mumbai
1  3492     64

In [41]:
#Doing something similar for the second row before we write the function, should make this crystal.

In [42]:
second_row = cities[1].split(",")

In [43]:
second_row

['ahmedabad:56666', 'mumbai:26989']

In [44]:
flat_list_2 = [item for sublist in [i.split(':', 1) for i in second_row] for item in sublist]

In [45]:
flat_list_2

['ahmedabad', '56666', 'mumbai', '26989']

In [46]:
city = pd.DataFrame(flat_list_2[0::2]).T
second = pd.DataFrame(flat_list_2[1::2]).T
f = pd.concat([city,second],ignore_index=True)

In [47]:
f

           0       1
0  ahmedabad  mumbai
1      56666   26989

In [48]:
f.columns = f.iloc[0] #making the first row or .iloc[0] as the header
f = f.drop([0],0) #dropping .iloc[0]th row

In [49]:
s

0 delhi mumbai
1  3492     64

In [50]:
frames = [s,f]
fs = pd.concat(frames,join='outer', ignore_index=True, sort=False)

In [51]:
fs

  delhi mumbai ahmedabad
0  3492     64       NaN
1   NaN  26989     56666

In [53]:
fs.fillna(0)

  delhi mumbai ahmedabad
0  3492     64         0
1     0  26989     56666

In [54]:
#This is exactly what we are after. The above represents just how the user 1 and 2 should have columns 
#instead of the cities

#Getting this to a for loop

In [55]:
final=[]
for i in range(len(cities)):
    frames=[]
    user_cities = cities[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_cities] for item in sublist]
    city = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([city,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final.append(pd.DataFrame(final_df))
    
city = pd.concat(final,join='outer', ignore_index=True, sort=False)
city = city.fillna(0)

In [56]:
city.head(10) #Nice!

,delhi,mumbai,ahmedabad,navi mumbai,chennai,bangalore,krishnarajapura,hosur,gurgaon,nagari,...,surat,thane,vasai,perth,singapore,ranchi,madrid,barcelona,bhubaneswar,al kuwayt
0,3492,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,26989,56666,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,29400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,4005,77,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,5135,529,2864,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,13142,0,0,0,0,0,0,0,12635,3885,...,0,0,0,0,0,0,0,0,0,0
7,0,77,0,0,6205,373,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9492,19504,0,0,0,0,0,0,1124,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#Doing something exactly similar for genres

In [57]:
genres = df_500["genres"].values.tolist()

In [58]:
genres

['Drama:6,Cricket:3469,Wildlife:79',
 'Drama:48949,Family:9927,Crime:1901,Romance:16571,Action:2064,Comedy:4225',
 'Cricket:5715,Family:2777,Drama:20873,LiveTV:4,Action:14,Comedy:15',
 'Romance:77,Drama:122,Cricket:3883',
 'TalkShow:8529',
 'TalkShow:5',
 'Cricket:0,Wildlife:21,Crime:29591,Drama:10,LiveTV:4,Comedy:35',
 'Romance:724,Cricket:5854,Reality:77',
 'Drama:10090,Cricket:1124,Comedy:18907',
 'Family:1080',
 'Romance:1889,Cricket:739,TalkShow:605,Wildlife:52,Crime:3524,Drama:9725,Action:172,Comedy:602',
 'Drama:57268,Cricket:30,Family:70740,Romance:54428,Action:5,Thriller:4',
 'Cricket:2745,Reality:74',
 'TalkShow:1,Family:818,Reality:171',
 'Romance:116,Cricket:4533,Football:24,Badminton:2',
 'Cricket:61889,Sport:1,TalkShow:1758,Crime:19,Romance:29,LiveTV:3913,Reality:790',
 'Action:3810',
 'Drama:6551,Cricket:15808,Football:160,Thriller:3,Reality:2024',
 'Action:37',
 'Cricket:1794,TalkShow:710,Football:36,Reality:17053,Drama:26610,Awards:232',
 'Romance:1026',
 'Drama:13815,Family:108423,Romance:46093,LiveTV:235,Action:489,Thriller:36451',
 'Romance:1211,Family:9370,Reality:86',
 'TalkShow:8528',
 'Romance:756,Drama:2607,Family:1178',
 'Romance:6080,TalkShow:5689,Family:16120,Crime:28355',
 'Cricket:15837,Travel:48,Reality:705',
 'Drama:23089,Travel:2,Family:1303',
 'Drama:19816,TalkShow:7549,Badminton:16,Reality:1470',
 'Romance:289173,Drama:60,Cricket:110,Comedy:6',
 'Drama:673,Crime:1538',
 'Drama:3193',
 'Drama:12793,TalkShow:19,Comedy:6096,Crime:24',
 'Cricket:1608,LiveTV:81',
 'Romance:2966,Drama:7661,Family:104',
 'Teen:14821,Drama:11334,Romance:2329,Mythology:2768,Family:33949',
 'Teen:11,Drama:186,Cricket:1712,Family:1879,Reality:16,Romance:15884,Action:1731',
 'TalkShow:10,Cricket:19264,Reality:16',
 'Thriller:5,Crime:952',
 'Romance:5291,TalkShow:35046,Cricket:452,Comedy:2286,Thriller:222',
 'Drama:634,TalkShow:44,Kids:13,Comedy:693',
 'Comedy:173,Cricket:421,Football:378',
 'Drama:4026',
 'Romance:1800,Cricket:4',
 'Drama:619,TalkShow:728,Cricket:593',
 'Drama:9508,Cricket:387',
 'Romance:5,Cricket:9797',
 'Drama:153,LiveTV:14,Reality:6',
 'Drama:2922,Cricket:3569,Comedy:2269',
 'Drama:4058,Romance:21748',
 'Cricket:2418,Comedy:98,Sport:3',
 'Action:2853,Cricket:22',
 'Romance:504,TalkShow:4036,Travel:979,Reality:1058',
 'Drama:15786,TalkShow:55463,Cricket:45542,Comedy:140',
 'Drama:8',
 'TalkShow:9,Cricket:5003',
 'Action:39,Cricket:7083,LiveTV:3562',
 'Cricket:51,Mythology:7601,Reality:76',
 'TalkShow:6,Reality:109',
 'Drama:92112,Romance:29092,Family:1248',
 'Action:27',
 'Romance:18985,Drama:126,Cricket:11201,Family:7433,Thriller:2594',
 'Drama:110',
 'Romance:6526,Drama:416',
 'Drama:556,Action:56',
 'Action:27,Cricket:6173',
 'Action:10,Cricket:242,Mythology:116,Family:84,Reality:80',
 'Drama:218,Action:245,Comedy:5,Thriller:6',
 'Romance:28',
 'Cricket:15871,TalkShow:4885,Football:1069,Romance:2397,Awards:1202,Comedy:28144',
 'Cricket:126,Sport:3,Family:3',
 'Drama:58479,Cricket:688,Family:1970,TalkShow:11,Crime:4671,Romance:47588,Thriller:211',
 'Cricket:7525,Reality:2328',
 'Drama:13888,Action:3265,Cricket:30388,LiveTV:37',
 'Action:1020,Drama:4900,Cricket:92425,Football:14627,Reality:93',
 'Cricket:80,LiveTV:52',
 'Romance:5265,Cricket:2214,Family:13903,Drama:94,LiveTV:942,Action:210',
 'Cricket:1271,Crime:281,LiveTV:2,Reality:38',
 'Romance:0,Cricket:853,Reality:10',
 'Comedy:2063',
 'Romance:83454,Cricket:4113,Family:86485,TalkShow:7556,Wildlife:12,Reality:36536,Drama:1627,Awards:2594',
 'Cricket:7115,Reality:49',
 'Action:751,TalkShow:301,Cricket:1093,Family:4,Reality:368',
 'Cricket:23,Reality:67',
 'Drama:712,Romance:6433,Family:13196,Reality:366',
 'TalkShow:1288,Cricket:29522,Football:15710,Formula1:146',
 'Drama:77,Cricket:28903',
 'Cricket:206,Thriller:30',
 'Drama:312',
 'Action:25,Drama:27,Cricket:20911,Thriller:3010,Crime:2696',
 'Action:51,Drama:123,Cricket:34063',
 'Cricket:785,Reality:2',
 'Drama:204,Cricket:23877,Comedy:17',
 'Action:1097,Science:1801,Travel:216',
 'Drama:604,Romance:0',
 'Drama:13,Cricket:163,Comedy:94',
 'TalkShow:334,Football:1160',
 'Drama:6,Romance:371,Cricket:1664',
 'TalkShow:18177,Cricket:1181,Awards:7,Travel:18,Reality:25',
 'TalkShow:48,Cricket:2156,Comedy:1162,Awards:105,Crime:13221',
 'Drama:1314,Cricket:2204',
 'Crime:4257,Reality:732',
 'Drama:89858,Cricket:2663,Comedy:14964',
 'Cricket:1553,Comedy:1206,Crime:1395,Drama:11408,Awards:1174,Action:736,Reality:14',
 'Drama:137,Cricket:2438',
 'Romance:288',
 'Comedy:966',
 'Horror:17,Thriller:21,Reality:17',
 'Romance:20,Action:2,Cricket:496,Comedy:45,Reality:794',
 'TalkShow:12197,Cricket:903,Comedy:4378',
 'Romance:156,TalkShow:4,Comedy:241,Drama:344',
 'Family:25',
 'Cricket:564,Family:345',
 'Drama:3714,Romance:931',
 'Drama:945,Cricket:6317',
 'Drama:48,TalkShow:12',
 'Cricket:2203,Crime:60',
 'Romance:380,Cricket:17096,Family:9',
 'Romance:12598,Cricket:44563,TalkShow:75,Football:157,Drama:4846,Awards:5767',
 'TalkShow:21500',
 'Drama:8462',
 'Drama:1541,Cricket:3171',
 'Drama:208,TalkShow:6,Cricket:554,Awards:20,Reality:12',
 'Romance:10,Cricket:16059,Family:26,Reality:451,Drama:7,Action:991',
 'Drama:3140,Cricket:5326,Family:14226,TalkShow:60,Reality:106,Romance:90,Hockey:31,Action:1182,Thriller:71',
 'Cricket:16479,Comedy:3721',
 'TalkShow:239,Cricket:3476,Kids:8,Reality:808',
 'Romance:1798,Drama:673',
 'Action:16',
 'Family:1222',
 'Cricket:854,Thriller:5',
 'Drama:655,Cricket:15779,Reality:488,Romance:8,LiveTV:16914,Sport:504',
 'Drama:385',
 'LiveTV:559,Comedy:426,Cricket:5004',
 'Romance:20,Drama:15,Cricket:1455',
 'Drama:9267,Romance:1,Cricket:849,Awards:0',
 'Cricket:1109,Mythology:77,Crime:2092',
 'Romance:748,Drama:1483,Comedy:241',
 'TalkShow:7621,Cricket:11196,Football:713,Reality:41',
 'Drama:7672,Romance:56,Cricket:10464,Reality:1,TalkShow:2936',
 'Cricket:511,Crime:5',
 'Drama:15',
 'Comedy:981',
 'TalkShow:81,Comedy:1',
 'Cricket:3164,Comedy:56,TalkShow:109,Reality:42,Drama:85,LiveTV:226,Hockey:0,Action:5160,Crime:3',
 'Comedy:1278',
 'Drama:4666,Family:21',
 'TalkShow:3281',
 'Action:245,Drama:100,Cricket:788,LiveTV:1455,Reality:10',
 'Romance:16108,Drama:1395,Cricket:119,Crime:2329',
 'Drama:35',
 'LiveTV:29',
 'TalkShow:171,Cricket:998',
 'Action:4',
 'TalkShow:5888',
 'TalkShow:1724,Cricket:2641',
 'Romance:826,Reality:42',
 'Cricket:8236,Reality:1446',
 'Drama:2115',
 'TalkShow:134,Cricket:15539,Crime:48',
 'Drama:8269,TalkShow:873,Cricket:43771,Awards:120,Reality:3639',
 'Romance:107976,Cricket:1',
 'Drama:2641,Cricket:1601,Kids:12,Family:1719,Travel:20,Football:558,Wildlife:110,Romance:3445,Action:444',
 'Cricket:17118,Football:0,Reality:10',
 'Action:578,TalkShow:4491',
 'Drama:5,Romance:57,Cricket:3514,Awards:11,TalkShow:0',
 'Comedy:586',
 'Romance:3614,TalkShow:1699,Cricket:180,Drama:2517,Family:3979',
 'TalkShow:10581,Cricket:19486,Comedy:1648,Wildlife:267,Reality:69',
 'Romance:475,Action:17587,Cricket:18271,Comedy:51,Thriller:539',
 'Romance:171,Cricket:192',
 'TalkShow:218,Mythology:2927',
 'Reality:15',
 'Drama:1215,TalkShow:44,Romance:794,Family:32,Crime:92',
 'Awards:7273',
 'Action:2529,Drama:1980,Comedy:1456,Reality:23698',
 'Drama:415,TalkShow:1010',
 'Comedy:20',
 'TalkShow:5202,Comedy:80,Reality:846',
 'Action:31',
 'Drama:3621,Cricket:25086,Horror:255,Romance:34,Comedy:2199,Thriller:20090',
 'Cricket:45063,Kabaddi:118,Football:66,Reality:567,Drama:6571,Badminton:423,Awards:971,Action:828,Comedy:214',
 'TalkShow:17564,Kabaddi:113,Awards:5,Crime:604',
 'Drama:30,TalkShow:86,Cricket:40173',
 'TalkShow:3402,Cricket:357,Comedy:1313',
 'Drama:605,Cricket:10448,Comedy:1224',
 'Reality:215',
 'Drama:1952,Romance:8672,Crime:35',
 'Drama:805,Action:1974,Reality:41',
 'TalkShow:0,Cricket:1280,Reality:69604',
 'Drama:90696,Family:7',
 'Cricket:711,TalkShow:340,Drama:284,Awards:310,Comedy:1115,Thriller:12',
 'Wildlife:717,TalkShow:116,Cricket:4400,Reality:40,Drama:462,Action:16,Mythology:39',
 'LiveTV:3931,Cricket:2236',
 'Romance:94,TalkShow:1418,Mythology:28181,Family:407,Reality:1907',
 'Drama:17,TalkShow:7,Cricket:302',
 'Drama:688,Comedy:14',
 'Cricket:15044,Thriller:266,Reality:1301',
 'TalkShow:23,Cricket:28006',
 'Drama:134',
 'Family:3038',
 'Romance:18518,Drama:38,Cricket:1912,Reality:288',
 'Drama:70,TalkShow:2710',
 'Romance:3130',
 'Drama:70,Romance:45,Cricket:3779,Comedy:136,Reality:283',
 'Action:591,Comedy:1163,Reality:23316',
 'Reality:528',
 'Comedy:1355',
 'Comedy:3359',
 'Drama:1279,Cricket:1277,Hockey:5,Family:356',
 'Romance:10,Action:10,Horror:1073,Mythology:2,Cricket:67',
 'Romance:6,TalkShow:3,Cricket:53182,Reality:58',
 'Romance:57436,Cricket:1686,TalkShow:5990,Reality:35399,Drama:114437,Awards:5,Comedy:978',
 'Romance:2375,Drama:3396,Cricket:0,Thriller:156',
 'Drama:184,Romance:16,Cricket:5',
 'Drama:10',
 'Thriller:56',
 'Teen:16,Cricket:8005,Comedy:334,Reality:21,Awards:126,Action:5,Crime:21',
 'Cricket:399,LiveTV:94,Reality:5',
 'Cricket:111,Thriller:25',
 'Cricket:3675,Reality:13',
 'Cricket:1648,LiveTV:6',
 'Cricket:1663,Comedy:6',
 'Action:95,Cricket:6782,Comedy:0',
 'Drama:62,Action:697,Comedy:178,Awards:31249',
 'Drama:543,Cricket:382',
 'Romance:13638,Cricket:5043,Family:1278',
 'Cricket:9436,Reality:7',
 'TalkShow:225,Cricket:9148,Football:7128',
 'Romance:5651,Cricket:2562,Family:7060,Reality:87,Drama:145,LiveTV:995',
 'Teen:7,Awards:249,Reality:3159',
 'Drama:6219,TalkShow:32592,Romance:175,Family:7151,Reality:3842',
 'Romance:17431,Drama:5485,Reality:109',
 'Drama:8,TalkShow:12254,Cricket:993,Reality:2179',
 'Romance:6041',
 'Drama:54,Horror:72,Comedy:23,Cricket:278,LiveTV:1222',
 'Kids:46,Family:297,TalkShow:1890,Romance:1047,LiveTV:2304,Comedy:461',
 'Romance:4251,Family:1711,TalkShow:1231,Reality:54007,Drama:5688,Comedy:24663',
 'Drama:7615,Romance:77,Comedy:1425,Thriller:53',
 'Drama:5530',
 'Romance:104,Drama:42,Travel:105,Mythology:9455,Comedy:26',
 'Drama:832',
 'Romance:150,Cricket:189',
 'TalkShow:34545',
 'Drama:677,Cricket:2708',
 'Drama:2,Cricket:3254,Football:3412,Comedy:4030',
 'Romance:257,Cricket:580,LiveTV:2,Reality:6',
 'Drama:22,Cricket:5481,Sport:37,LiveTV:157',
 'Drama:9195',
 'Cricket:7869,Reality:40',
 'Romance:41359,Drama:4866,Family:545',
 'Drama:135476,Romance:104,Cricket:3,Comedy:1258,Thriller:679',
 'Cricket:5365,Reality:32',
 'Drama:561,Cricket:4149',
 'Romance:2199,Cricket:1513,Family:2785',
 'Comedy:1397',
 'Drama:239,Cricket:61210,Sport:45',
 'Cricket:1097,Sport:50,LiveTV:676',
 'Cricket:1960,Badminton:457,Crime:2279',
 'Comedy:57',
 'Drama:8785,Cricket:104',
 'Romance:6,Cricket:7277',
 'Drama:5706',
 'TalkShow:6984,Crime:3',
 'Romance:130,Comedy:81',
 'Drama:37177,Family:17089',
 'Teen:28,Romance:276252,Cricket:18355,Family:350,TalkShow:641,Horror:8,Table Tennis:0,Reality:1227,Drama:28189,LiveTV:4,Crime:35',
 'Drama:13',
 'Drama:481',
 'Awards:197',
 'Romance:17,Cricket:6764,Mythology:49,Family:59,Sport:205,Reality:9,Drama:37,Awards:2,Comedy:7',
 'Drama:1386',
 'Drama:34082,Romance:137,Cricket:24337,Hockey:2,Reality:3377',
 'TalkShow:2,Cricket:3762',
 'Awards:48',
 'Drama:35962,Thriller:7',
 'LiveTV:3214,Sport:4,Cricket:16149,Family:8',
 'Romance:1151,Drama:5229,Cricket:107,Reality:7',
 'Drama:10264,Action:6018,Cricket:15266',
 'Romance:5,Cricket:1088',
 'Action:156,Cricket:1148,Mythology:6365',
 'Cricket:5019,Family:628,TalkShow:164,Reality:467,Drama:6736,Awards:188,Action:1981,Comedy:1117',
 'Romance:32595,Comedy:3214',
 'Romance:9244,Drama:5016,Action:453,Family:1297',
 'Drama:474,Thriller:1453',
 'Family:17458,Reality:5591',
 'Family:4711',
 'Drama:109138,Cricket:0,Family:381,Reality:13,Romance:17560,LiveTV:3,Action:561,Crime:19,Thriller:23',
 'Romance:24045,Drama:2549,Mythology:1679,Action:9488',
 'Action:22,Science:5,Cricket:867,LiveTV:28,Reality:15',
 'Romance:267,TalkShow:12298,Action:156',
 'Action:4102',
 'TalkShow:2648',
 'Drama:2363,TalkShow:23295,Kids:6793,Reality:534',
 'Drama:23208,Family:19224',
 'Action:7590,Comedy:23,Family:62',
 'Drama:39,Cricket:14637',
 'Romance:4343,Drama:67,Cricket:3441,Family:10388',
 'Romance:2496,TalkShow:40,Reality:585',
 'Drama:2,TalkShow:16166,Comedy:13',
 'Drama:3376,Cricket:2294,Family:10',
 'Comedy:70',
 'Drama:19,Horror:5',
 'Romance:6003,Family:69772',
 'TalkShow:10,Cricket:17520',
 'TalkShow:21424',
 'Romance:13656,Drama:8079,Family:12212',
 'Drama:35,Cricket:16343,Badminton:106,LiveTV:831,Reality:5',
 'Badminton:874,Crime:1475',
 'Action:26,Drama:10,LiveTV:70,Sport:3,Cricket:120',
 'Drama:3733,Cricket:84645,Sport:123,LiveTV:768,Reality:407',
 'TalkShow:4844,Cricket:244',
 'Romance:15908,Drama:1280',
 'Family:40',
 'TalkShow:6617,Reality:381',
 'Cricket:5841,Horror:47',
 'Cricket:20802,Hockey:760,Reality:562',
 'Drama:41352,Cricket:68307,Family:24252,Horror:1483,Football:699,Romance:37009,Badminton:389,Comedy:1715',
 'Romance:766',
 'Romance:12593,Drama:23555',
 'Romance:97',
 'Romance:20,TalkShow:3321,Cricket:1470,Comedy:6040',
 'TalkShow:13502,Cricket:17418,Football:2401,Reality:3676',
 'Romance:18,Awards:12765,Family:829',
 'Romance:10314,Family:114490,TalkShow:1230,Horror:1052,Crime:315,Drama:11987,Awards:5,Action:1400,Comedy:15484',
 'TalkShow:2155,Reality:12581',
 'Drama:14,Cricket:1589,TalkShow:16,Football:11458,Reality:19843,Romance:144,LiveTV:16147,Badminton:5,Action:6166,Comedy:1477',
 'Action:188,TalkShow:15601,Cricket:3704,Comedy:11530',
 'TalkShow:2793,Cricket:3',
 'Drama:1833,Crime:463,Romance:296,Reality:1849,Comedy:7841,Thriller:24',
 'Reality:17',
 'Romance:1937,Family:65',
 'Romance:14,TalkShow:98,LiveTV:4',
 'Cricket:35996,LiveTV:15,Reality:132',
 'Cricket:53431,Football:9,TalkShow:30,Kabaddi:462,Sport:360,Table Tennis:99,Crime:2442,Drama:5573,LiveTV:146,Badminton:5110,Action:25,Mythology:7148,Reality:1538,Thriller:17184',
 'Science:22,Cricket:6544,LiveTV:27',
 'Romance:280,TalkShow:4934,Family:1075,Thriller:4',
 'Drama:13',
 'Drama:15528,Romance:22344,Family:68073',
 'Drama:295,Romance:374,Mythology:22142',
 'Drama:51',
 'Drama:80,TalkShow:2047',
 'Drama:7891,Cricket:616',
 'Romance:7436,Action:403,Cricket:7766',
 'Comedy:1793',
 'Romance:431,TalkShow:2079,Cricket:3541',
 'Romance:12923,Reality:4068',
 'Romance:4026,Drama:5780,Family:6993',
 'Cricket:210,Crime:3717',
 'Cricket:109,Reality:392',
 'Cricket:3547,Reality:984',
 'Cricket:68,Comedy:996,Family:160',
 'Drama:277',
 'Action:5,TalkShow:25,Cricket:6795,Drama:23933,Horror:3042',
 'Drama:3528,Cricket:28687,Comedy:52,TalkShow:7056,Horror:1,Crime:160,Romance:0,Science:366,Reality:463,Travel:2636,Thriller:119992',
 'Drama:93,Cricket:26385,Badminton:34,Reality:8',
 'Romance:99,LiveTV:665,Family:9858',
 'Action:16,Romance:1845,Cricket:1457,Comedy:210,TalkShow:3908',
 'Drama:7,Thriller:4',
 'TalkShow:1523,Reality:31104',
 'Drama:3233,TalkShow:1843,Cricket:13054,Comedy:439,Reality:10',
 'Drama:2161,Romance:746,Family:2243',
 'Romance:9091,Family:1442',
 'Cricket:8305,Comedy:33',
 'Drama:30,Cricket:4160',
 'Drama:22',
 'Romance:38',
 'Drama:24812,Romance:15355,LiveTV:80,Thriller:9952,Family:20010',
 'Drama:7912',
 'Cricket:27,Reality:13345',
 'Drama:6807,TalkShow:350,Cricket:1334,Horror:1418,Crime:2582',
 'Crime:42,Reality:1020',
 'TalkShow:59,Comedy:473,Reality:1524',
 'Drama:222,Romance:13,Cricket:10622,Awards:12,Reality:161',
 'Family:12',
 'Drama:235,Mythology:5797,TalkShow:101,Romance:524,LiveTV:329,Comedy:489',
 'Drama:16411,Romance:946,Cricket:361,Family:585,Thriller:19',
 'Drama:2393,Romance:6964,Comedy:6596,Action:1601,TalkShow:1348',
 'TalkShow:1783',
 'Romance:18,Action:17,Cricket:5670,Reality:32',
 'Action:5480,Drama:5441,Romance:98,Comedy:3566',
 'Drama:4140,Romance:4,Family:17432',
 'Drama:95,Cricket:66139,Family:919',
 'Drama:180,Romance:20',
 'Drama:4752,Thriller:52,Crime:19',
 'Romance:1,Cricket:15710',
 'Cricket:3308,Reality:134',
 'Romance:117,TalkShow:21352,Comedy:6559,Drama:3,Thriller:58440',
 'Reality:40',
 'Drama:7385,TalkShow:4767,Cricket:8109,Comedy:180,Awards:1667',
 'Reality:2775,Drama:79,Awards:1493,Action:793,Comedy:1998,Thriller:1283',
 'TalkShow:4,Travel:4935,Reality:10,Science:1120',
 'Drama:1150,Romance:7055',
 'Drama:5479,TalkShow:29239,Romance:3087,Crime:2286,Reality:3222',
 'Drama:6,Romance:2062,Cricket:18532',
 'TalkShow:32,Family:7,Reality:1200',
 'Romance:80770,Cricket:392,TalkShow:8057,Reality:447,Drama:243,Comedy:1191',
 'Drama:2780,Cricket:908,LiveTV:511',
 'Romance:46315,Cricket:10789,Crime:2586',
 'Drama:16771,Romance:18953,Comedy:1920,Thriller:606,TalkShow:4792',
 'Drama:809,LiveTV:0,Cricket:549,Reality:461',
 'Drama:1950,Cricket:876',
 'Cricket:5088,Badminton:1,Reality:3',
 'TalkShow:5660',
 'Cricket:1018,LiveTV:279,Reality:4',
 'LiveTV:11,Cricket:4304',
 'Drama:13,Cricket:2440',
 'Romance:18381,Drama:510,Family:315',
 'Cricket:800,Reality:15',
 'Cricket:354,Reality:424',
 'TalkShow:3657',
 'Cricket:20815,Comedy:151',
 'Action:12,Cricket:478',
 'Mythology:31341,Thriller:97',
 'Romance:1536,TalkShow:2550,Comedy:34',
 'Romance:162,Drama:1056,Cricket:2488,Reality:33',
 'Cricket:15540,Kids:8,Family:21426,Wildlife:54,Reality:283,Romance:580,Awards:1,Mythology:3413',
 'Romance:2844,Mythology:9802,Kids:1211,Thriller:150,Reality:45500',
 'Drama:23013,Cricket:5981,Family:13,TalkShow:546,Romance:3626,Action:9842',
 'Cricket:1167,Crime:6',
 'Drama:9162',
 'Action:2310,Drama:9,Cricket:910',
 'Cricket:20435,Reality:153,Drama:3843,LiveTV:23,Action:459,Comedy:148',
 'Romance:38499,Drama:218,Cricket:0,Family:50',
 'Cricket:18364,Reality:479',
 'Drama:38248,Comedy:15',
 'Drama:70,Romance:1431,Thriller:5',
 'TalkShow:3',
 'Drama:44494,LiveTV:43,Cricket:2252,Reality:497',
 'TalkShow:4614',
 'Family:3861',
 'Romance:39,Cricket:18114,Hockey:1384',
 'Romance:14456',
 'Drama:14125,Romance:1475,Awards:376,Reality:20',
 'Cricket:7462,TalkShow:130,Reality:89,Romance:6,LiveTV:2172,Awards:3722,Sport:144',
 'Drama:14,Cricket:207,Reality:1787,Romance:28,LiveTV:10,Comedy:1379',
 'Wildlife:5,Comedy:519,Family:10482,Reality:3,Drama:22242,Awards:4,Action:9857,Crime:3853,Thriller:4875',
 'TalkShow:71,Cricket:1646',
 'Romance:67,Drama:6003,Family:200,Crime:14',
 'Drama:42335,Romance:492',
 'Action:35,Drama:5159,Travel:247,Awards:247,TalkShow:25',
 'Cricket:6866,Family:5927,Reality:272,Romance:19297,LiveTV:3,Comedy:2030',
 'Cricket:11427,Reality:56',
 'LiveTV:6474,Cricket:14744',
 'Action:10,Cricket:11253,Comedy:16,Family:4',
 'Cricket:1199,Thriller:5',
 'Drama:94,Cricket:10770,Comedy:8936',
 'Cricket:246,Reality:151',
 'Drama:1211,Cricket:5074,Kids:23,Reality:47,Romance:7,LiveTV:1019,Awards:40,Comedy:8',
 'Drama:6222,Cricket:26214,Crime:397,Thriller:56,Reality:498',
 'Drama:9957,Action:4689,LiveTV:7591,Cricket:6219,Reality:76',
 'Drama:20511',
 'Drama:3115,Crime:15467',
 'Romance:131,Cricket:581,Football:4,Reality:249',
 'Drama:44,Sport:68,Family:45',
 'Romance:29887',
 'Drama:32618,Cricket:43802,TalkShow:513,Romance:2852,Awards:5,Mythology:304036',
 'Action:57,Cricket:2452',
 'Action:74,TalkShow:3797,Drama:58',
 'Drama:4018,Romance:62',
 'Drama:6234,Romance:4357,Mythology:1423,Reality:3447',
 'Drama:19,Romance:1782',
 'Action:3478,TalkShow:131,Comedy:4431',
 'Romance:4536,Family:243484,TalkShow:8345,Reality:2477,Drama:7432,Comedy:67',
 'TalkShow:11,Cricket:3768,Family:18,Reality:2',
 'Cricket:910,Comedy:112',
 'Drama:1634,Family:40',
 'Drama:275,LiveTV:390,Comedy:2396,Crime:1174',
 'Cricket:22775,LiveTV:14650',
 'Drama:13334,Romance:72,Family:50',
 'Romance:1855',
 'Drama:133363,Romance:31220,Family:85152',
 'Drama:119263,Romance:2348,Cricket:1042,Family:1311',
 'TalkShow:10809',
 'Drama:1156,Cricket:21173,TalkShow:50,Horror:537,Reality:15,Romance:2,Crime:2550',
 'Action:1842,Reality:2',
 'TalkShow:57,Reality:5',
 'Drama:132,Cricket:43475,TalkShow:35,Romance:377,LiveTV:405,Awards:7',
 'Drama:18196,Cricket:1596,Family:1692,Reality:1610,Romance:5254,Comedy:128',
 'Drama:2963,Romance:21306,Reality:51',
 'Action:10010,Drama:4313,Comedy:2490,Thriller:12635',
 'Romance:27',
 'Drama:5262,TalkShow:7,Cricket:1037,Action:130,LiveTV:8',
 'Drama:19,Family:1333',
 'Drama:46578,Family:48161,TalkShow:2355,Reality:5481,Romance:55327,Thriller:557',

In [59]:
final_1=[]
for i in range(len(genres)):
    frames_genres=[]
    genre = genres[i].split(",")
    flat_list_g = [item for sublist in [i.split(':', 1) for i in genre] for item in sublist]
    flat_list_g = [i.lower() for i in flat_list_g]
    genre_1 = pd.DataFrame(flat_list_g[0::2]).T
    second_g = pd.DataFrame(flat_list_g[1::2]).T
    genre_df = pd.concat([genre_1,second_g],ignore_index = True)
    genre_df.columns = genre_df.iloc[0]
    genre_df = genre_df.drop([0],0)
    frames_genres.append(genre_df)
    final_df_g = pd.concat(frames_genres,join='outer', ignore_index=True, sort=False)
    final_1.append(pd.DataFrame(final_df_g))

In [60]:
genre = pd.concat(final_1,join='outer', ignore_index=True, sort=False)
genre = genre.fillna(0)

In [61]:
genre.head(10)

,drama,cricket,wildlife,family,crime,romance,action,comedy,livetv,talkshow,...,travel,teen,mythology,kids,formula1,science,horror,hockey,kabaddi,table tennis
0,6,3469,79,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,48949,0,0,9927,1901,16571,2064,4225,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20873,5715,0,2777,0,0,14,15,4,0,...,0,0,0,0,0,0,0,0,0,0
3,122,3883,0,0,0,77,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,8529,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
6,10,0,21,0,29591,0,0,35,4,0,...,0,0,0,0,0,0,0,0,0,0
7,0,5854,0,0,0,724,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,10090,1124,0,0,0,0,0,18907,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,1080,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
#We will have to do the same for tod and dow, however there is a catch involved. 

#Starting off with the dow, the days are labelled as 1,2,3,4,..... We will have to rename them. 

#1 as Sunday, 2 as Monday and so. So we will have to rename the columns from a dictionary

In [63]:
days_of_week = df_500["dow"].values.tolist()

In [64]:
days_of_week

['5:482,4:3008,7:64',
 '1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:15493',
 '1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800',
 '1:77,2:3883,5:122',
 '1:6150,3:2378',
 '2:5',
 '1:15909,3:2465,2:5580,4:293,7:1283,6:4131',
 '3:5481,4:724,7:373,6:77',
 '1:6965,3:21,2:6183,5:1434,4:6995,7:4599,6:3923',
 '1:1043,7:37',
 '1:275,3:1090,2:4390,5:25,4:2796,6:8732',
 '1:15578,3:19502,2:21455,5:31126,4:29995,7:23403,6:41414',
 '4:1067,7:1752',
 '1:188,2:801',
 '5:20,4:2052,7:2603',
 '1:6845,3:610,2:7529,5:14750,4:14103,7:8369,6:16189',
 '5:3810',
 '1:311,2:980,5:1136,4:6330,7:9249,6:6538',
 '1:37',
 '1:15604,3:3852,2:15275,5:2613,4:2805,7:4681,6:1605',
 '1:1026',
 '1:28375,3:35336,2:20357,5:28410,4:24327,7:40775,6:27927',
 '3:7447,2:86,5:2777,4:70,6:287',
 '1:387,3:1792,2:258,4:6091',
 '1:645,5:3896',
 '3:2107,2:1341,5:6904,4:168,7:32469,6:13252',
 '1:2051,3:4758,2:1832,5:1166,4:2974,7:1590,6:2217',
 '1:822,2:5761,5:953,4:3376,7:5804,6:7675',
 '1:2706,3:4753,2:4855,5:5582,4:2356,7:8599',
 '1:32599,3:45989,2:40421,5:44745,4:38906,7:40388,6:46300',
 '1:784,3:226,2:1001,5:63,6:136',
 '3:1119,4:1319,6:755',
 '1:3164,3:10073,2:5660,6:35',
 '1:211,3:709,5:6,4:472,7:13,6:277',
 '1:565,3:946,4:4562,6:4656',
 '1:417,3:11921,2:9871,5:6578,4:8419,7:15605,6:12389',
 '1:3854,3:3824,2:2462,5:1875,4:2316,7:6939,6:147',
 '1:2020,3:357,2:1193,5:6745,4:4613,7:4185,6:173',
 '5:5,4:487,6:465',
 '1:10750,3:5616,2:7070,5:4548,4:6154,7:8849,6:310',
 '1:44,3:32,4:13,7:693,6:602',
 '3:971',
 '7:2826,6:1200',
 '7:1804',
 '1:593,5:1347',
 '1:8977,2:530,5:7,7:380',
 '1:1488,3:934,2:4,5:3327,4:2057,7:1620,6:370',
 '1:173',
 '1:3964,2:2269,5:251,4:2275',
 '1:2375,3:2300,2:5326,5:4071,4:5627,7:1235,6:4872',
 '1:184,5:1167,7:1167',
 '4:2853,7:22',
 '1:504,3:2739,4:3334',
 '1:4415,3:16734,2:5636,5:12454,4:17628,7:32606,6:27451',
 '4:8',
 '1:234,2:5,4:2747,7:1025,6:1000',
 '3:1090,4:5233,7:4359',
 '1:3563,3:757,5:289,4:3041,6:77',
 '7:115',
 '1:15392,3:20681,2:23806,5:16042,4:22587,7:12211,6:11730',
 '3:27',
 '1:5914,3:7454,2:5059,5:1778,4:6421,7:10316,6:3394',
 '2:110',
 '3:282,2:113,4:2129,7:2425,6:1993',
 '1:556,2:56',
 '1:5912,3:26,4:68,6:191',
 '3:240,4:292',
 '7:475',
 '4:28',
 '1:9684,3:5393,2:3464,5:3433,4:3863,7:10509,6:17221',
 '4:129,7:3',
 '1:6056,3:17704,2:25790,5:8446,4:16445,7:23420,6:15759',
 '3:5762,4:1838,7:427,6:1825',
 '1:2165,3:13275,2:3605,5:6719,4:4145,7:12932,6:4732',
 '1:6296,3:3956,2:9366,5:6097,4:23160,7:64188',
 '3:131',
 '3:7175,2:3733,5:220,4:8882,7:2085,6:532',
 '3:340,5:817,7:14,6:419',
 '1:229,3:262,2:7,4:169,6:196',
 '1:2063',
 '1:33552,3:43527,2:50177,5:35307,4:34148,7:4785,6:20884',
 '1:1277,3:1004,2:922,7:3794,6:164',
 '1:208,3:46,2:97,4:1121,7:17,6:1027',
 '4:89',
 '1:1326,3:276,2:4038,5:7451,4:952,7:1792,6:4872',
 '3:800,2:4576,5:1501,4:2349,7:29884,6:7552',
 '1:4515,3:2462,2:5117,5:726,4:8344,7:315,6:7494',
 '1:100,3:7,7:129',
 '3:312',
 '1:1,3:5087,2:166,5:7516,4:7803,7:14,6:6078',
 '1:3735,3:1225,2:269,5:10005,4:5711,7:9522,6:3763',
 '4:363,7:424',
 '1:619,3:2492,2:929,5:3700,4:7127,7:1949,6:7278',
 '3:1878,5:1236',
 '1:2,3:597,6:5',
 '2:257,6:13',
 '1:334,6:1160',
 '3:40,2:384,4:1617',
 '1:1765,3:4193,2:2740,5:1567,4:4053,7:3134,6:1954',
 '3:1197,4:423,7:1698,6:13373',
 '7:3518',
 '1:4257,7:731',
 '1:2035,3:14475,2:11574,5:20157,4:24916,7:4318,6:30005',
 '1:2831,2:1103,5:5471,4:750,7:2472,6:4857',
 '3:1762,5:0,4:552,6:261',
 '7:288',
 '6:965',
 '1:55',
 '1:6,2:778,4:132,6:440',
 '1:5546,3:3360,2:4547,4:88,7:2382,6:1554',
 '3:344,2:401',
 '3:25',
 '3:162,2:77,4:486,6:183',
 '7:4644',
 '4:6317,6:945',
 '2:12,6:48',
 '3:0,4:2263',
 '1:3160,3:5638,2:2482,5:645,4:2670,6:2888',
 '1:4008,3:3285,2:6388,5:12480,4:14168,7:5961,6:21709',
 '1:5768,3:2132,2:2383,5:646,4:1481,7:118,6:8971',
 '1:328,3:1264,2:1537,6:5331',
 '3:2692,2:775,5:989,6:256',
 '1:234,3:249,4:3,6:313',
 '1:3721,3:978,2:163,5:84,4:3868,7:7234,6:1495',
 '1:241,3:430,2:1319,5:2192,4:7065,7:7701,6:5283',
 '1:6490,3:905,2:8110,5:427,4:1953,7:481,6:1830',
 '1:4466,2:55,7:8',
 '3:2471',
 '1:16',
 '5:1222',
 '5:6,4:654,6:198',
 '1:14328,3:8,2:1482,5:1386,4:2217,7:5656,6:9270',
 '7:385',
 '3:534,5:0,4:1069,7:4361,6:25',
 '4:20,7:1455,6:15',
 '1:1,3:1038,2:862,5:2318,4:509,7:669,6:4719',
 '3:1109,4:2169',
 '3:593,4:726,7:1109,6:44',
 '1:6624,3:226,2:6816,5:1664,4:426,7:1744,6:2068',
 '1:1767,3:828,2:1402,5:4087,4:1547,7:2432,6:9064',
 '4:516',
 '6:15',
 '5:981',
 '1:66,3:15,5:1',
 '1:262,3:408,2:23,5:103,4:5884,7:2069,6:96',
 '7:1278',
 '1:624,2:1716,5:2244,6:100',
 '3:2907,2:374',
 '1:140,3:567,2:574,5:622,4:584,7:31,6:80',
 '1:3651,3:723,5:2578,4:4223,7:3599,6:5174',
 '5:35',
 '7:29',
 '1:107,2:64,4:997',
 '4:4',
 '2:148,6:5740',
 '4:2641,6:1723',
 '1:42,4:825',
 '3:8,2:240,4:269,7:9164',
 '3:92,5:1291,6:732',
 '1:48,3:356,2:143,5:537,4:7664,7:5902,6:1069',
 '1:1939,3:1791,2:3000,5:3471,4:18568,7:27872,6:24',
 '1:5259,3:17465,2:1418,5:4337,4:19567,7:51965,6:7964',
 '1:8,3:2931,2:1637,5:52,4:1620,7:326,6:3974',
 '3:3795,2:1825,4:1973,7:9534',
 '3:2602,2:578,4:1889',
 '3:3070,5:330,4:94,7:92',
 '7:585',
 '1:2953,3:1127,2:180,5:1396,7:2517,6:3816',
 '1:1698,3:259,2:2565,5:7720,4:4941,7:8515,6:6351',
 '1:1987,3:1059,2:796,5:169,4:2961,7:26560,6:3387',
 '3:171,6:192',
 '1:2372,3:24,2:357,7:392',
 '7:15',
 '3:874,2:241,4:259,6:803',
 '1:42,3:4699,5:1054,6:1478',
 '1:2778,3:779,2:3900,5:2695,4:1357,7:12933,6:5220',
 '6:1425',
 '3:20',
 '1:27,3:66,2:13,4:2125,7:2157,6:1740',
 '6:31',
 '1:5199,3:10420,2:5437,5:3402,4:12640,7:12513,6:1667',
 '1:5897,3:154,2:3105,5:6864,4:11146,7:15590,6:12052',
 '5:4632,7:7899,6:5755',
 '1:3376,3:3327,2:3887,5:3737,4:9343,7:12134,6:4480',
 '3:1313,5:76,4:35,7:3325,6:322',
 '3:606,5:6328,4:5342',
 '4:172,7:43',
 '1:8672,6:1986',
 '4:1957,7:863',
 '1:38199,2:27771,5:1087,7:3634,6:192',
 '1:1071,3:13521,2:14164,5:18090,4:12804,7:5706,6:25345',
 '1:1522,3:468,2:423,7:359',
 '3:260,2:10,5:1688,4:2455,7:1235,6:140',
 '1:452,2:3023,5:30,4:2210,6:452',
 '1:10976,3:3056,2:2678,5:1521,7:7539,6:6235',
 '3:17,2:140,4:7,7:162',
 '2:702',
 '1:1337,3:1053,2:1495,5:1488,4:3869,7:3409,6:3956',
 '1:10590,3:398,2:1779,5:1803,4:2670,7:1754,6:9028',
 '3:8,2:40,6:86',
 '5:553,4:1324,7:1161',
 '1:3611,3:4595,2:3576,5:1424,4:1367,7:3547,6:2636',
 '1:340,3:2348,4:92',
 '1:30,3:9,5:38,4:21,7:8,6:3024',
 '1:70,3:0,5:204,4:2330,7:1541,6:167',
 '1:2459,3:742,2:3164,5:6020,4:4368,7:916,6:7400',
 '7:528',
 '5:1355',
 '1:1533,7:1826',
 '3:369,5:515,4:34,7:913,6:1086',
 '1:2,3:1147,5:12',
 '1:7453,3:6890,2:2000,5:4172,4:13488,7:6609,6:12637',
 '1:29716,3:29719,2:28868,5:43165,4:25301,7:27907,6:31253',
 '3:2196,5:686,4:2003,6:1042',
 '5:5,6:200',
 '6:10',
 '6:56',
 '5:3581,4:5,7:21,6:4920',
 '1:111,2:0,6:387',
 '7:107,6:29',
 '3:2258,5:236,4:782,6:412',
 '6:1652',
 '5:1664,6:5',
 '7:1867,6:5010',
 '1:1750,3:9846,2:4312,4:5871,7:3809,6:6596',
 '1:903,4:22',
 '1:811,3:3331,2:3524,5:905,4:1810,7:2057,6:7518',
 '3:1560,2:7,5:5995,4:1701,6:180',
 '1:1543,2:21,5:520,4:175,7:4350,6:9891',
 '1:5,3:2736,2:1579,5:5413,4:968,6:5797',
 '3:334,2:86,7:2994',
 '1:6673,3:4855,2:7126,5:2501,4:1838,7:20839,6:6145',
 '1:3335,3:3571,5:1051,4:6528,7:6418,6:2122',
 '1:4615,2:8625,5:9,4:2178,6:7',
 '1:2209,3:1558,2:2233,7:41',
 '1:116,3:72,2:642,5:673,4:23,7:0,6:123',
 '1:203,3:98,2:2062,5:1016,7:2666',
 '1:28486,3:929,2:11464,5:4494,4:9738,7:25419,6:11020',
 '3:1176,2:4088,5:616,7:2278,6:1012',
 '3:1299,2:1110,5:395,4:865,7:753,6:1107',
 '3:517,2:1732,5:2032,4:5073,7:37,6:340',
 '6:832',
 '5:339',
 '1:20249,3:1352,2:12944',
 '5:2528,6:857',
 '1:365,3:1985,2:36,5:693,4:2737,7:2219,6:2663',
 '1:263,3:4,4:4,7:191,6:382',
 '1:2895,3:1922,4:838,7:42',
 '3:3555,5:3043,4:8,6:2588',
 '5:2536,4:4347,6:1024',
 '1:4304,3:7815,2:11984,5:2045,4:3268,6:17352',
 '1:18505,3:23362,2:28757,5:21193,4:23623,7:10917,6:11152',
 '1:975,5:967,4:2477,6:977',
 '4:3341,6:1369',
 '1:1572,3:2183,2:16,5:111,4:511,7:531,6:1573',
 '7:1397',
 '1:5476,3:292,2:4357,5:1699,4:12789,7:30229,6:6646',
 '1:160,5:1367,7:296',
 '1:2423,3:427,2:277,4:1207,7:359',
 '5:57',
 '5:5548,4:305,6:3035',
 '1:134,4:5283,7:1866',
 '1:254,3:17,2:1749,5:1362,4:5,6:2319',
 '1:1229,3:3812,2:107,4:1839',
 '3:128,6:83',
 '1:6858,3:8113,2:9000,5:8332,4:5965,7:8626,6:7370',
 '1:34765,3:40857,2:35689,5:54527,4:39672,7:62516,6:57060',
 '5:13',
 '6:481',
 '2:197',
 '1:972,3:480,2:2,5:2134,4:1690,7:1069,6:799',
 '4:1386',
 '1:8820,3:22756,2:4104,5:14213,4:6102,7:1759,6:4180',
 '2:2,4:2698,7:1062',
 '5:48',
 '1:7162,3:6466,2:1710,5:5714,4:5976,7:1410,6:7528',
 '1:4701,3:29,2:1720,5:4646,4:2050,7:234,6:5994',
 '1:7,3:1350,2:1151,5:1308,4:2678',
 '1:4842,2:5731,5:3740,4:4216,7:12828,6:191',
 '2:5,7:1065,6:23',
 '2:299,4:453,7:6391,6:524',
 '1:441,3:431,2:1328,5:2525,4:6330,7:789,6:4455',
 '1:5348,2:9675,5:2075,7:6768,6:11943',
 '1:3377,3:1030,2:1438,5:1171,4:4753,7:3320,6:919',
 '7:793,6:1134',
 '3:2166,2:3054,5:5145,4:4023,7:1611,6:7049',
 '3:2973,4:1738',
 '1:24212,3:22828,2:17757,5:20256,4:15340,7:16722,6:10578',
 '3:7712,2:11653,5:15100,4:1610,7:538,6:1148',
 '1:296,3:10,4:22,7:29,6:579',
 '1:1616,3:2545,2:781,5:1526,4:2840,7:1435,6:1978',
 '5:4102',
 '1:610,6:2038',
 '1:5421,3:8137,2:10044,5:4968,4:2203,7:2211',
 '1:1632,3:7640,2:4831,5:7187,4:8499,7:10480,6:2160',
 '1:604,3:5511,2:1475,5:62,4:23',
 '3:101,4:960,7:13614',
 '1:83,3:4416,2:1631,5:3072,4:5586,7:3451',
 '1:40,2:2496,7:585',
 '1:9395,3:2333,2:3023,6:1430',
 '1:1547,2:2293,7:1839',
 '5:70',
 '5:24',
 '1:6601,3:3440,2:11373,5:11061,4:5942,7:19993,6:17363',
 '1:2047,3:6,2:2965,5:3614,4:8510,7:311,6:73',
 '1:5774,3:2001,2:7830,5:815,4:5004',
 '1:2874,3:11787,2:5929,5:3378,4:7149,7:2561,6:270',
 '1:4164,2:1968,5:2,4:252,7:7581,6:3347',
 '1:436,2:1872,6:40',
 '1:70,2:0,5:10,4:149',
 '1:19688,3:5542,2:13337,5:11822,4:8922,7:14638,6:15719',
 '1:3118,3:824,2:949,5:169,4:28',
 '1:3767,5:1635,4:2470,7:5157,6:4158',
 '1:40',
 '1:2405,2:4588,7:5',
 '1:3413,3:157,5:73,7:1325,6:918',
 '1:7843,3:1011,5:1964,4:851,7:951,6:9503',
 '1:15885,3:17497,2:35616,5:21015,4:13477,7:28210,6:43518',
 '5:18,6:747',
 '1:17313,2:2438,5:3023,4:4760,7:5604,6:3010',
 '2:33,5:64',
 '1:3321,3:1390,2:648,5:2925,4:1725,7:841',
 '1:1753,3:2306,2:3484,5:805,4:11701,7:8713,6:8230',
 '1:12764,3:847',
 '1:21143,3:18064,2:25801,5:17103,4:20959,7:21214,6:31992',
 '1:1600,3:1303,2:1355,5:2763,4:848,7:3357,6:3509',
 '1:5169,3:5731,2:995,5:8021,4:5662,7:22007,6:9270',
 '1:5591,3:1541,2:10908,5:6325,4:4877,7:881,6:900',
 '1:1260,4:3,7:1533',
 '1:2809,3:274,2:1511,5:5373,4:1821,7:296,6:220',
 '2:17',
 '3:559,2:348,5:712,4:383',
 '5:116,7:0',
 '1:1831,3:13859,2:2156,5:5181,4:10332,7:810,6:1969',
 '1:14396,3:10599,2:19279,5:9019,4:7184,7:18299,6:14772',
 '1:1808,3:1029,2:1810,5:211,4:658,7:1072',
 '1:2225,3:2601,5:706,7:392,6:369',
 '3:13',
 '1:12205,3:15275,2:10316,5:20048,4:14452,7:20408,6:13236',
 '1:12728,3:1142,2:570,7:8371',
 '4:51',
 '5:2047,6:80',
 '3:1689,2:1483,5:3396,4:0,7:620,6:1319',
 '1:6050,3:18,2:520,5:1823,4:303,7:5120,6:1769',
 '5:1793',
 '1:1407,3:405,2:3624,4:569,6:46',
 '1:481,3:1787,2:5407,5:3050,4:5291,7:976',
 '3:4947,2:5,5:3621,4:1941,6:6286',
 '1:506,5:3211,4:210',
 '5:368,4:133',
 '3:390,2:137,5:984,4:3020',
 '7:1155,6:68',
 '5:277',
 '1:9312,3:3927,2:1641,5:369,4:6572,7:6512,6:5467',
 '1:13047,3:14040,2:21172,5:9475,4:5169,7:57592,6:42439',
 '1:5440,3:89,2:313,5:5051,4:2812,7:6123,6:6688',
 '1:3797,2:2806,5:2379,7:983,6:656',
 '1:22,3:2010,2:2682,5:860,4:1737,6:123',
 '6:11',
 '1:943,3:11444,2:20228,7:12',
 '1:899,3:2836,2:1341,5:1491,4:2468,7:4766,6:4776',
 '5:3673,4:113,6:1364',
 '1:997,3:1422,2:16,4:1059,7:2963,6:4076',
 '5:2005,6:6333',
 '3:30,2:1922,5:1488,4:520,6:230',
 '4:22',
 '6:38',
 '1:4634,3:8442,2:12748,5:10480,4:13984,7:7525,6:12399',
 '5:4409,6:3503',
 '1:3645,3:27,2:2168,4:4205,7:3326',
 '2:350,7:8779,6:3362',
 '4:42,7:1020',
 '1:181,2:79,7:1795',
 '1:1720,3:3905,2:859,5:2958,4:989,7:42,6:555',
 '7:12',
 '1:55,3:3,2:593,5:3649,4:1895,6:1279',
 '1:1266,3:7088,2:3592,5:2662,4:1583,7:1395,6:736',
 '1:5273,3:3815,2:60,5:40,4:2428,7:3321,6:3964',
 '1:1783',
 '1:120,3:1599,2:419,4:216,7:563,6:2817',
 '2:65,5:2914,4:23,7:5141,6:6440',
 '2:6587,4:44,7:6183,6:8760',
 '1:11456,3:1399,2:5385,5:8432,4:5073,7:900,6:34505',
 '6:200',
 '2:1230,5:719,4:128,7:2727,6:19',
 '1:1015,3:112,2:1450,5:2330,4:4178,7:4671,6:1952',
 '1:316,3:318,2:134,5:1209,4:121,7:182,6:1161',
 '1:3698,3:27253,2:13819,5:8066,4:4431,7:3312,6:25890',
 '5:40',
 '1:1611,3:1665,2:9680,5:7323,4:26,7:147,6:1654',
 '1:2530,2:2522,5:1279,4:1297,7:793',
 '1:3947,3:988,5:10,7:1124',
 '3:478,5:1813,4:2171,7:1013,6:2730',
 '1:17781,3:4178,2:4061,5:7302,4:5552,7:2403,6:2034',
 '1:1201,3:3490,2:2792,5:5077,4:4460,7:1620,6:1957',
 '5:32,4:7,6:1200',
 '1:10323,3:11253,2:12531,5:15286,4:12989,7:15278,6:13433',
 '1:2814,2:1003,7:380',
 '1:2961,3:3872,2:11635,5:7049,4:8143,7:18684,6:7346',
 '1:12975,3:5317,2:5489,5:595,4:3067,7:8882,6:6717',
 '3:261,2:1270,4:123,6:164',
 '5:179,4:1950,6:697',
 '5:1614,4:2327,6:1151',
 '5:2458,7:3202',
 '5:501,4:799',
 '1:13,2:67,4:737,7:83,6:3414',
 '6:2453',
 '1:9125,3:0,7:10081',
 '3:256,5:559',
 '3:777',
 '2:648,5:354,4:1806,6:849',
 '1:1804,3:3672,2:328,5:5902,4:881,7:5208,6:3170',
 '2:297,7:193',
 '1:3452,3:2949,2:3797,5:3606,4:1759,7:1416,6:14459',
 '3:999,5:928,4:293,7:1786,6:114',
 '1:1097,3:2338,7:304',
 '1:5272,3:3750,2:6251,5:5869,4:2486,7:7906,6:9767',
 '1:14722,3:2451,2:17965,5:4081,4:2949,7:10727,6:6612',
 '1:13376,3:3327,2:13510,5:3408,7:4860,6:4537',
 '3:7,4:6,7:1159',
 '1:1285,3:173,2:2238,5:3068,4:4,7:1602,6:792',
 '7:910,6:2319',
 '1:2329,3:6562,2:2391,5:3833,4:3391,7:2354,6:4196',
 '1:4887,3:1056,2:7264,5:1748,4:10864,7:11685,6:1259',
 '1:3204,3:1337,2:918,5:1424,4:2803,7:8930,6:225',
 '1:1277,3:4846,2:7748,5:8246,4:11420,7:612,6:4112',
 '3:17,7:1489',
 '4:3',
 '1:7743,3:8299,2:9011,5:9758,4:7771,7:2133,6:2571',
 '1:147,3:4467',
 '1:1300,2:545,5:1061,7:955',
 '1:4182,3:294,2:2808,5:3251,4:1783,7:7171,6:46',
 '1:1859,2:12596',
 '1:1275,3:1690,2:3296,5:3946,4:261,7:5043,6:483',
 '1:655,3:180,2:1067,5:683,4:4998,7:5277,6:862',
 '3:134,5:1436,4:1856',
 '1:7413,3:14813,2:1931,5:5582,4:10555,7:3550,6:7997',
 '1:94,4:201,7:1421',
 '5:3421,4:219,7:2644',
 '1:3402,3:11454,2:13079,5:4312,4:2746,7:2222,6:5611',
 '2:5713',
 '1:863,3:6858,2:2074,5:11632,4:2275,7:7373,6:3317',
 '1:1875,3:1425,2:107,5:3351,4:2514,7:181,6:2026',
 '1:1462,3:1219,2:633,5:845,4:5860,7:5399,6:5797',
 '5:7463,4:3013,6:805',
 '1:913,6:290',
 '1:4405,3:245,2:2557,5:2041,4:4444,7:2090,6:4017',
 '3:217,4:80,6:99',
 '1:1,3:2046,5:1941,4:2650,6:790',
 '1:3676,3:1604,2:4141,5:5170,4:1370,7:6668,6:10755',
 '3:5191,2:663,4:10592,7:5396,6:6690',
 '1:1633,3:4796,2:2023,5:292,4:4418,7:1307,6:6038',
 '1:3372,3:381,4:976,7:12396,6:1457',
 '1:26,5:287,4:243,6:408',
 '5:112,6:45',
 '5:10203,4:5974,7:11278,6:2432',
 '1:75274,3:31922,2:47690,5:20806,4:53269,7:88870,6:65993',
 '5:1015,6:1494',
 '1:685,5:3112,7:132',
 '1:1327,3:1060,2:81,5:708,4:899,7:5',
 '1:1012,3:1046,2:2501,5:5776,4:2463,7:2661',
 '3:1782,6:19',
 '1:2523,2:1086,7:3654,6:777',
 '1:31415,3:25507,2:22130,5:15359,4:47845,7:74245,6:49839',
 '4:1332,7:2444,6:23',
 '1:910,3:112',
 '1:40,5:964,4:670',
 '3:424,2:3811',
 '1:9982,2:324,5:3636,4:10757,7:6380,6:6344',
 '1:129,3:40,2:1232,5:4054,7:1174,6:6827',
 '2:566,4:1289',
 '1:35850,3:49565,2:36113,5:28710,4:34836,7:37164,6:27505',
 '1:11952,3:27005,2:21855,5:30243,4:22446,7:4088,6:6376',
 '1:3647,2:7162',
 '1:5362,3:998,2:4880,5:1651,4:2428,7:7820,6:2338',
 '2:2,6:1842',
 '7:62',
 '1:8629,3:4621,2:2440,5:6127,4:6439,7:9839,6:6332',
 '1:3724,3:1640,2:11201,5:5635,4:2896,7:1781,6:1596',
 '1:2731,3:6023,2:2998,5:2738,4:1536,7:2694,6:5596',
 '3:2618,2:2937,5:9586,4:4166,6:10141',
 '5:27',
 '1:2954,4:1045,7:130,6:2315',
 '5:19,4:1333',
 '1:7789,3:25760,2:19158,5:36023,4:45095,7:9951,6:14024',
 '1:10959,3:3001,2:4685,5:4180,4:3886,7:3530,6:4489',
 '1:6437,3:5454,2:5844,5:3972,4:2801,7:1299',
 '3:1',
 '1:4795,3:9982,2:1849,5:2553,4:9290,7:6370,6:1552',
 '1:2957,3:1609,2:612,5:1028,4:619,7:14619,6:411',
 '1:9,2:32,5:4158,4:1009,6:1636',
 '3:45,2:2794,5:131,4:1663',
 '1:1291,3:578,2:364,5:99,7:6610',
 '3:38,2:5438,5:4402,4:5345,7:9,6:8156',
 '1:129,2:796,5:4307,4:60,7:5,6:795',
 '1:11081,3:7359,2:3648,5:12700,4:2585,7:1398,6:13012',
 '6:585',
 '1:320,3:2559,2:0,5:5,4:0,6:7597',
 '3:375,2:1628,4:6,7:1298,6:2014',
 '1:1142,3:1994,2:1839,5:919,4:126,7:629']

In [65]:
final_2=[]
for i in range(len(days_of_week)):
    frames=[]
    user_days = days_of_week[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_days] for item in sublist]
#    flat_list = [int(i) for i in flat_list]
    day = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([day,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final_2.append(pd.DataFrame(final_df))

days = pd.concat(final_2,join='outer', ignore_index=True, sort=False)
days = days.fillna(0)

In [66]:
days.head()

      5     4      7     1     3      2      6
0   482  3008     64     0     0      0      0
1  9237  8503  25094  3257  9162  12893  15493
2  7338  6641   2218    40  2700   4659   5800
3   122     0      0    77     0   3883      0
4     0     0      0  6150  2378      0      0

In [67]:
days_dict = {"1":"Sunday", "2":"Monday", "3":"Tuesday", "4":"Wednesday", "5":"Thursday", 
             "6":"Friday", "7":"Saturday"}

In [68]:
days_dict

{'1': 'Sunday',
 '2': 'Monday',
 '3': 'Tuesday',
 '4': 'Wednesday',
 '5': 'Thursday',
 '6': 'Friday',
 '7': 'Saturday'}

In [69]:
day_key = pd.DataFrame(list(days_dict.items()),columns = ["dow_cat","day"])  
d = day_key.set_index('dow_cat').to_dict()  
days.columns = days.columns.to_series().map(d['day'])

In [70]:
days.head(10)

  Thursday Wednesday Saturday Sunday Tuesday Monday Friday
0      482      3008       64      0       0      0      0
1     9237      8503    25094   3257    9162  12893  15493
2     7338      6641     2218     40    2700   4659   5800
3      122         0        0     77       0   3883      0
4        0         0        0   6150    2378      0      0
5        0         0        0      0       0      5      0
6        0       293     1283  15909    2465   5580   4131
7        0       724      373      0    5481      0     77
8     1434      6995     4599   6965      21   6183   3923
9        0         0       37   1043       0      0      0

In [71]:
#Will have to repeat this for tod. Now TOD has values ranging from 0 to 23 for the 24 hours of the day

# We will have to use a dictionary again

#time_dict = {"0":"12 am",
#             "1":"1 am"
#             "2":"2 am"
#             "3":"3 am"
#             "4":"4 am"
#        ....}

#Making one manually is painful, so we will use list comprehensions

In [72]:
time_am = [str(x) for x in range(0,12)]
time_pm=[str(x) for x in range(12,24)]
am=[str(x)+ " am" for x in range(0,12)]
pm=[str(x)+ " pm" for x in range(0,12)]
d1 = dict(zip(time_am,am))
d2 = dict(zip(time_pm,pm))
d1["0"] = "12 am" #changing 0 to 12 am
d2["12"] = "12 pm" #changing 12 to 12 pm 
time_dict = {**d1,**d2} #merging both dicts

In [73]:
time_dict

{'0': '12 am',
 '1': '1 am',
 '2': '2 am',
 '3': '3 am',
 '4': '4 am',
 '5': '5 am',
 '6': '6 am',
 '7': '7 am',
 '8': '8 am',
 '9': '9 am',
 '10': '10 am',
 '11': '11 am',
 '12': '12 pm',
 '13': '1 pm',
 '14': '2 pm',
 '15': '3 pm',
 '16': '4 pm',
 '17': '5 pm',
 '18': '6 pm',
 '19': '7 pm',
 '20': '8 pm',
 '21': '9 pm',
 '22': '10 pm',
 '23': '11 pm'}

In [74]:
time_of_day = df_500["tod"].values.tolist()

In [75]:
time_of_day

['18:1372,21:1862,17:320',
 '11:7726,10:3521,13:2067,12:3844,20:4608,21:9360,17:5734,16:4438,19:3822,18:4274,23:2988,22:304,1:7419,0:7944,2:9807,9:2005,15:967,14:2807',
 '11:302,10:1594,13:331,12:133,20:3802,14:3083,22:2219,23:2111,19:3683,18:101,8:201,7:504,6:1874,9:4388,15:1640,21:3430',
 '10:122,12:77,15:1800,14:0,16:2083',
 '20:529,21:1257,22:4930,23:538,19:1268,18:6',
 '10:5',
 '10:21,13:4576,12:3284,15:2158,14:4446,22:2839,23:7937,1:10,0:1252,5:1490,6:1648,9:0',
 '19:4245,20:2410',
 '10:224,20:691,14:683,17:1031,16:3,1:15312,0:5051,3:2556,2:4559,8:10',
 '19:976,13:67,22:37',
 '11:281,10:775,13:735,15:213,21:225,22:2907,23:632,19:182,1:4739,0:4150,2:810,17:7,8:0,9:1228,20:159,14:262',
 '11:3152,13:14973,12:3234,15:13363,14:34461,22:4358,23:11031,16:151,1:42489,0:45814,2:5553,20:793,21:3102',
 '18:329,20:1067,21:1349,22:74',
 '0:188,3:1,15:800',
 '15:131,14:15,17:948,16:978,19:2,18:1277,22:12,20:368,21:944',
 '11:1976,10:7390,13:3332,12:145,15:5329,14:3853,17:4458,16:4236,19:5598,18:1156,23:2866,22:5896,1:67,0:322,2:756,8:22,9:484,20:9057,21:11450',
 '11:812,12:2998,22:0',
 '11:449,13:2123,15:558,14:2304,17:2328,16:4585,18:2265,22:2110,1:2408,0:3144,20:2215,21:54',
 '10:37',
 '11:3680,10:222,13:3037,12:2906,15:6037,14:940,17:647,23:2182,19:2080,18:2185,16:1181,22:4900,0:586,7:2128,9:7039,8:4188,21:2496',
 '21:1026',
 '11:6158,10:13943,13:9967,12:7376,15:24243,14:12550,17:17495,16:16565,19:13867,18:18255,22:10953,21:13439,8:6886,7:4998,6:588,9:12857,20:14754,23:609',
 '20:771,21:70,17:368,23:2490,19:2488,18:1385,22:3095',
 '20:1774,21:3071,19:1246,1:375,0:258,5:1792,9:12',
 '11:16,10:469,13:11,12:2852,17:86,16:559,9:547',
 '11:1358,10:5582,13:2519,12:182,15:4685,14:4555,17:3652,16:4123,19:5155,18:6114,22:3285,9:1123,20:4363,21:9544',
 '10:132,20:4043,21:3455,22:1390,23:3043,19:899,18:1063,16:974,17:49,15:1497,14:43',
 '11:1554,10:1759,13:2771,12:2067,15:2594,14:3438,22:54,23:595,19:2206,16:2601,17:1594,7:605,6:1078,20:106,21:1368',
 '15:1561,21:4060,22:9632,23:7787,19:1599,18:1985,0:820,17:414,20:993',
 '11:16863,13:20430,12:35743,15:25700,21:19699,17:27358,16:26111,19:24315,18:31686,22:11259,0:2814,14:28955,20:16695,23:1720',
 '19:673,10:136,13:111,15:289,14:1001',
 '0:1,13:755,5:1318,6:1119',
 '20:35,21:1089,22:2338,23:2324,1:4999,0:5418,3:63,2:2588,8:78',
 '11:256,13:58,20:6,21:705,22:145,23:497,14:21',
 '15:3215,21:547,22:565,16:2186,19:706,5:2152,4:1359',
 '11:2455,10:5750,13:262,12:1146,20:9981,21:9415,17:2719,23:5662,19:5768,18:6780,22:4357,15:4808,0:417,16:1645,5:76,7:896,6:60,9:1406,8:1596',
 '13:1380,12:996,15:477,21:11368,22:2985,23:1309,19:40,18:628,16:175,7:254,6:437,20:1023,14:345',
 '11:309,10:2276,13:3057,12:425,15:1552,14:2706,17:1834,16:2192,19:898,18:2139,9:32,20:1863',
 '22:957',
 '11:2295,10:1681,13:4365,12:906,15:3113,14:2787,17:438,16:6891,19:30,18:4638,22:3825,21:3466,9:2294,20:4315,23:2253',
 '20:325,21:693,17:44,23:12,19:277,22:20,8:13',
 '9:421,11:173,12:377',
 '1:426,0:2400,23:1200',
 '18:1803,14:1',
 '1:948,22:992',
 '10:378,15:1357,21:1768,22:1879,16:2739,23:537,17:1236',
 '20:49,21:131,22:3726,23:4414,19:1467,0:2,8:12',
 '14:173,21:0',
 '13:491,12:251,22:1473,18:311,3:2175,5:905,4:1810,8:1343',
 '11:7663,10:3617,13:2152,12:2990,17:1375,16:1956,19:514,18:277,7:635,9:3100,8:1527',
 '20:330,21:335,17:1069,16:3,19:304,18:293,22:184',
 '19:22,17:2371,22:370,16:112',
 '15:5199,22:504,16:874',
 '10:2009,13:2349,12:234,20:12239,21:21342,17:8428,23:6242,19:8099,18:5259,16:7363,22:8954,1:11628,0:13287,3:2852,2:6057,9:50,14:529',
 '16:8',
 '11:10,20:376,17:2030,22:5,19:1460,18:157,15:10,21:963',
 '19:1816,0:1090,20:5826,21:1879,18:71',
 '13:5998,12:597,15:77,21:716,19:50,9:289',
 '6:115',
 '11:55,10:1625,13:3907,12:1330,20:13881,21:16172,22:4259,16:1431,19:16004,18:29931,23:1293,17:6279,7:4355,6:1749,9:6313,15:6490,8:5134,14:2240',
 '12:27',
 '13:273,20:2310,14:1435,22:10606,23:1017,19:5429,18:2090,16:136,1:51,0:96,17:2359,7:1611,6:1853,15:1378,21:9693',
 '23:110',
 '11:841,10:1231,13:873,12:609,20:848,21:834,22:19,23:294,19:39,18:103,16:8,8:1103,15:114,14:26',
 '11:556,12:56',
 '11:1111,10:2111,1:26,12:2199,9:750',
 '19:340,18:18,20:50,22:124',
 '3:230,5:245',
 '20:28',
 '11:2196,10:297,13:2997,20:5287,21:4241,17:2673,16:1857,19:1853,18:2878,23:4186,22:3075,15:554,1:1951,0:4296,2:957,5:804,7:3460,6:630,9:4809,8:2840,14:1725',
 '15:132',
 '11:6578,10:4560,13:5138,12:1653,20:6427,14:12173,17:1458,16:4047,19:20054,18:7116,22:2444,8:12851,7:4046,6:3410,9:6420,15:9870,21:5372',
 '22:5536,23:163,19:18,16:1807,7:1786,8:541',
 '11:6194,10:3943,13:1687,12:5676,15:5224,14:2524,17:3178,16:8788,19:2774,18:109,7:20,8:1101,9:5357,20:975,21:21',
 '13:5125,15:11972,14:9996,22:9406,16:12662,19:11019,18:8854,23:8870,0:3989,17:7291,20:8137,21:15740',
 '20:131',
 '11:1292,13:4099,12:10200,20:0,14:3349,22:1006,23:1197,19:10,18:853,16:89,21:532',
 '19:419,22:831,23:340',
 '11:0,0:174,13:229,22:148,23:312',
 '21:1788,22:275',
 '11:35428,10:17657,13:20815,12:35514,15:28195,14:26319,17:5104,16:11961,19:17739,18:8988,23:1386,20:8179,0:897,9:177,8:432,21:3587',
 '20:932,21:548,22:1963,23:789,18:1292,16:1567,17:70',
 '13:56,12:208,17:1959,16:124,18:123,23:46',
 '21:19,22:70',
 '11:837,13:2860,12:811,15:838,14:1420,17:2255,16:3049,19:3901,18:2047,22:246,1:1038,20:293,21:1112',
 '11:3340,10:887,20:5592,17:785,22:8679,16:2150,19:2824,18:132,23:2419,21:9833,1:389,3:2199,2:1112,4:51,9:808,15:3062,14:2400',
 '11:883,10:1509,13:5837,12:1006,15:3916,14:5189,17:2226,16:6152,19:1261,18:457,9:536',
 '20:107,22:129',
 '15:312',
 '11:302,10:360,20:2427,21:2545,22:5309,23:5884,19:1,16:1227,0:1128,3:957,2:592,17:1179,6:298,15:3285,14:1171',
 '11:2809,10:3980,13:401,12:384,20:2448,14:804,17:2531,16:6490,19:3363,18:933,22:23,5:296,7:845,8:235,9:2853,15:1095,21:4740',
 '19:21,18:207,17:106,22:0,16:453',
 '11:134,13:1934,12:2542,20:6017,14:4747,17:2346,19:3721,18:555,22:665,15:410,21:1023',
 '12:1940,20:1174',
 '19:5,9:2,20:0,16:597',
 '18:94,13:13,15:163',
 '19:13,20:172,21:334,22:975',
 '13:57,14:1458,22:11,16:102,19:34,21:378',
 '10:909,13:49,15:10,21:35,22:4965,23:4135,19:530,18:267,16:129,1:2571,0:5389,7:398,9:18',
 '13:1162,17:1620,16:105,3:1742,5:3565,4:6137,6:2360',
 '19:774,20:1397,15:33,21:1314',
 '11:630,12:101,21:276,22:3981',
 '11:28621,10:11677,13:1967,12:18055,15:12125,14:5161,17:11252,23:276,19:353,18:4362,16:13629',
 '10:1410,13:3598,12:3367,21:83,22:1813,23:750,18:1642,9:2238,8:2547,14:36',
 '19:1900,21:123,16:552',
 '20:288',
 '12:965',
 '8:55',
 '11:218,13:96,15:78,21:6,16:222,19:736',
 '10:1317,13:8,21:88,22:2411,23:3476,19:2125,18:1375,1:470,0:5126,2:457,9:486,14:137',
 '19:401,18:344',
 '14:25',
 '13:77,12:345,17:486',
 '13:15,14:931,17:2094,16:1604',
 '17:1972,22:144,16:715,19:767,18:2863,23:801',
 '11:48,12:12',
 '13:40,15:41,14:0,21:2182',
 '11:357,13:12,12:701,15:891,14:2935,16:248,19:5139,18:1399,20:3752,21:2049',
 '11:1877,10:1421,13:4867,12:6974,20:3558,14:3368,22:3838,16:8234,19:4499,18:480,23:3274,1:3054,0:2221,3:2509,2:2701,17:1862,9:7,15:6598,21:6657',
 '10:61,13:996,21:197,22:2682,23:2946,1:5693,0:454,2:8470',
 '11:2565,10:582,13:2595,20:12,21:316,14:2390',
 '22:223,23:2692,18:256,0:552,3:143,4:846',
 '19:249,15:234,21:3,16:313',
 '11:1982,10:1200,13:1421,12:22,20:529,14:2358,17:3928,16:698,19:443,18:823,22:543,6:84,9:30,15:3416,21:67',
 '11:1978,10:2638,13:408,12:240,20:111,17:1467,22:2257,16:2978,19:612,18:208,23:981,5:2186,8:1737,7:985,6:1604,9:201,15:1396,14:996,21:1247',
 '11:4393,10:1324,13:1917,12:449,15:1484,14:978,17:482,16:2529,18:905,22:3385,9:410,20:1830,23:108',
 '11:1138,10:1952,13:1352,12:8,20:55,21:24',
 '9:6,8:2041,7:424',
 '0:16',
 '9:1222',
 '0:69,20:204,18:585',
 '11:6226,10:7413,13:4057,12:6124,15:1638,14:726,22:53,16:3293,20:290,0:3,9:4478,8:13,21:32',
 '13:385',
 '13:534,12:0,20:2216,14:105,22:2262,19:30,6:25,21:816',
 '18:1455,13:15,20:20',
 '11:298,10:2329,13:1484,15:1271,14:1003,23:1,19:786,18:437,0:1645,9:862',
 '19:499,9:2169,20:608,22:2',
 '0:1470,22:412,23:590',
 '11:843,12:2122,15:4654,14:1629,22:248,23:2344,16:69,0:1603,3:1119,5:338,17:474,21:4125',
 '11:3924,10:115,12:3483,20:348,21:2414,22:3757,23:3460,19:301,16:20,0:1710,17:722,7:595,15:49,14:227',
 '7:511,16:5',
 '15:15',
 '20:180,21:458,22:343',
 '11:66,15:16',
 '11:20,10:661,13:361,20:85,21:138,22:58,16:381,19:529,18:1234,3:10,5:3059,4:1685,9:8,17:318,14:298',
 '0:1278',
 '10:21,20:100,22:3629,17:935',
 '11:219,18:81,13:1957,12:973,15:51',
 '11:208,10:73,13:43,12:0,15:31,21:132,17:441,16:56,19:0,18:366,22:90,0:0,14:136,9:924,20:88,23:10',
 '11:1553,10:2200,13:2104,12:1390,20:555,21:1466,22:1582,23:967,19:518,18:663,8:111,9:3843,15:723,14:2271',
 '18:35',
 '1:29',
 '12:64,14:107,17:997',
 '18:4',
 '11:2551,12:485,14:737,17:403,23:208,18:1330,1:174',
 '18:1834,17:2363,16:167',
 '19:42,18:825',
 '15:6321,23:240,20:1250,21:1747,16:123',
 '19:277,20:455,21:1383',
 '11:413,13:2374,12:454,15:2858,14:879,17:2355,16:591,19:371,18:300,20:3348,21:1775',
 '11:20,10:687,13:349,12:2711,15:8814,14:10320,17:4515,16:9348,19:2123,18:2294,22:1188,3:378,8:914,9:1191,20:6375,21:5435',
 '11:18150,10:8081,13:4558,12:19356,15:3365,14:5777,17:4327,16:11904,19:7244,18:11523,23:247,0:132,5:2958,7:4558,6:3070,9:116,8:2609',
 '11:34,13:180,12:1085,20:501,22:79,17:2318,16:2056,23:1211,0:1440,14:935,9:180,15:84,21:445',
 '15:3112,14:2476,17:3077,16:4312,19:2663,18:657,20:770,21:60',
 '18:578,20:774,21:1800,22:28,0:1889',
 '15:0,14:68,16:92,19:2829,18:325,9:31,20:241',
 '22:423,23:162',
 '10:163,14:180,22:1308,23:1202,16:3089,7:1127,9:619,8:1762,21:2539',
 '11:2169,10:218,13:5363,12:4262,15:1253,21:961,17:218,23:4332,19:127,18:124,16:1852,22:4173,20:577,0:1421,2:1916,9:604,8:0,14:2478',
 '10:169,13:211,12:232,20:9418,21:10249,22:3700,16:2539,19:639,18:1804,23:26,17:37,6:616,9:1128,15:2380,14:3770',
 '11:171,13:192',
 '11:392,20:1045,21:212,22:1324,23:33,0:139',
 '14:15',
 '20:208,21:241,22:846,19:233,18:206,7:184,6:259,15:0',
 '13:1063,12:1478,16:20,18:13,3:2739,2:1960',
 '11:5279,10:302,13:967,12:5424,15:292,14:4320,17:321,16:359,19:5813,23:1573,9:1575,20:3378,21:58',
 '20:1425',
 '1:20',
 '11:13,20:506,14:66,17:0,16:77,19:15,18:1915,22:846,9:130,8:1279,21:1281',
 '11:31',
 '11:1547,10:863,13:963,12:1091,20:13592,21:6072,22:2505,23:2997,19:965,18:3677,16:4267,1:235,17:4054,7:1683,9:1166,15:3682,14:1918',
 '10:31,13:1546,20:2078,21:737,17:2661,16:4221,19:2728,18:1455,23:13308,22:6965,1:223,0:10479,7:712,15:4549,14:3112',
 '13:2446,14:11,22:619,16:1594,23:2134,1:3203,0:6898,2:1370,6:11',
 '11:1413,10:2803,13:3112,12:6315,15:47,21:2400,17:693,16:419,19:4352,18:2836,9:1846,20:12210,14:1835',
 '11:302,21:35,23:1389,7:1733,6:1592,8:20',
 '11:797,12:1031,20:2550,21:3290,22:962,23:3369,19:277',
 '9:43,7:172',
 '15:2703,14:1986,17:2134,16:3835',
 '19:979,12:33,20:1182,7:626',
 '11:4886,10:2400,13:4817,12:5171,15:4813,14:6055,17:3219,16:3669,19:1293,18:2706,22:2489,21:2596,5:3789,8:3927,7:4800,6:4938,9:4142,20:2766,23:2406',
 '10:479,13:1221,12:405,15:30025,14:2333,17:5729,16:45076,19:1788,18:691,23:181,22:85,2:1386,21:1302',
 '15:362,14:271,22:374,16:251,19:61,18:57,3:594,4:340,21:462',
 '11:952,20:615,21:23,22:55,17:1688,7:2455',
 '11:1800,10:1701,13:456,20:1970,22:240,9:0',
 '13:139,21:949,22:2873,23:10289,19:348,1:5380,0:8013,2:3279,14:735',
 '13:17,15:59,14:89,16:88,19:0,18:0,20:73',
 '13:27,12:675',
 '11:2513,10:1210,13:1830,12:1250,15:1962,14:51,17:369,16:1789,18:60,0:263,2:1003,5:667,6:311,9:148,20:361,21:2820',
 '11:2654,10:1623,13:1668,12:1355,15:3126,14:5234,17:247,16:4706,19:2036,18:3531,9:1178,20:665',
 '18:48,15:86',
 '18:1324,14:1714',
 '13:981,20:1524,21:7639,22:5808,23:1886,19:180,16:32,7:388,9:240,8:515,14:1562',
 '13:13,17:5,14:79,22:694,21:1989',
 '18:440,12:10,10:9,17:8,23:2663',
 '11:167,12:221,20:487,17:376,22:45,16:2040,19:548,18:262,21:166',
 '11:831,10:85,13:463,12:1497,15:4335,14:4298,22:4656,23:1731,19:415,18:1114,16:2337,17:473,9:2225,21:609',
 '21:528',
 '16:1355',
 '0:1533,21:8,23:1818',
 '13:274,12:812,20:5,21:515,17:18,19:639,18:620,22:34',
 '10:10,13:1083,20:4,22:64',
 '11:701,10:1613,13:3030,12:2663,20:12086,21:3606,17:6278,23:5849,19:6195,18:4399,22:1967,16:2507,9:994,14:1361',
 '20:8098,21:6222,22:1549,23:9761,1:12949,0:9645,3:2343,2:6571,5:3018,7:1295,6:3137,9:2799,8:587,11:1146,10:2918,13:7370,12:7391,15:21503,14:17556,17:28039,16:26068,19:15705,18:20251',
 '11:5,10:836,13:2193,12:2581,14:168,22:10,18:0,9:135',
 '0:200,21:5',
 '0:10',
 '14:56',
 '11:5,13:321,20:546,14:58,17:4037,16:1197,19:269,18:2088,21:6',
 '19:111,10:0,20:210,21:153,17:24',
 '7:31,17:105',
 '10:20,20:266,21:601,22:628,23:2,19:1992,9:179',
 '22:1652',
 '21:1664,22:5',
 '11:2349,10:1205,12:131,15:1118,17:31,16:176,18:1867',
 '20:4875,21:3530,17:2712,23:2503,19:3391,18:8063,22:6436,1:674',
 '10:22,6:903',
 '11:1454,10:24,13:411,12:1365,20:1253,21:1839,17:3422,16:4187,18:1809,22:1377,5:909,6:577,9:4,15:1083,14:241',
 '20:1560,21:220,22:2687,23:137,19:2974,18:1812,16:46,17:7',
 '11:333,13:2247,12:520,15:1687,14:936,17:1956,16:1923,19:287,18:2397,23:1252,1:992,0:304,2:21,9:218,20:888,21:538',
 '11:845,10:57,13:1483,12:171,15:1311,14:67,22:2698,16:417,19:901,17:527,8:26,9:3079,20:1488,21:3426',
 '20:25,16:89,15:600,22:2027,23:672',
 '11:978,13:3200,12:4132,20:2521,21:3079,17:2806,23:9970,19:19,22:1081,0:3627,5:131,8:5860,7:1145,6:2566,9:571,15:4575,14:3715',
 '11:2336,13:1295,12:300,20:2328,14:2245,22:241,23:3710,19:2380,18:1128,16:633,21:821,17:508,7:1339,6:339,9:425,15:1188,8:1809',
 '13:2175,12:632,23:1808,19:9,18:986,1:318,0:7328,3:286,2:1892',
 '0:2489,16:1562,20:902,21:946,8:142',
 '12:68,20:895,21:389,19:128,18:45,9:23,14:101',
 '20:75,14:120,22:31,16:2284,19:1342,17:647,15:1546',
 '13:1434,12:1643,20:6237,21:256,17:3541,16:590,19:4542,18:6589,23:2063,1:4435,0:5229,3:11043,2:9371,5:3977,4:13802,7:3863,6:6826,15:2550,14:1130,8:2426',
 '11:385,12:89,15:20,21:3142,16:420,19:266,20:2472,8:1804,14:572',
 '11:751,10:442,13:1151,12:122,17:297,22:383,16:358,18:132,6:10,9:792,14:887,21:204',
 '10:1291,20:612,21:1561,22:1374,23:169,7:683,6:17,8:1514,14:2510',
 '15:360,16:472',
 '10:339',
 '13:1282,20:1761,21:2062,17:3159,23:4576,19:2684,18:3056,22:3325,1:4476,0:1592,16:529,2:2323,15:2295,14:1425',
 '18:428,17:499,16:2458',
 '12:246,21:1884,22:324,19:507,18:384,1:52,0:1709,3:371,2:3366,4:1736,9:119',
 '21:4,22:4,23:380,19:257,17:193,14:6',
 '13:42,20:2917,21:10,22:2667,23:61',
 '13:280,12:2763,17:2,22:8,16:2586,19:522,18:3033',
 '20:110,21:3038,22:4759',
 '13:4207,12:5505,15:11384,14:10959,17:6557,16:8156',
 '11:679,13:1978,12:401,20:27029,21:10771,22:15763,23:18139,19:27679,18:18224,16:1317,0:1238,5:1289,8:116,7:5678,6:2619,9:1743,15:1487,14:1359',
 '20:2882,21:1121,22:1393',
 '19:6,12:561,20:1944,21:1850,17:349',
 '20:23,21:561,22:560,16:2148,19:459,18:1138,15:1603,14:5',
 '23:1397',
 '11:3906,10:4362,13:801,12:1881,20:2215,14:1491,17:5451,16:3508,19:14846,18:8318,9:7316,15:2896,21:4495',
 '9:1097,13:218,12:270,15:78,14:160',
 '12:154,15:0,21:23,17:3443,19:277,18:437,20:359',
 '14:57',
 '11:267,20:35,21:1142,22:3306,23:1370,9:2768',
 '15:2441,14:1206,19:655,18:1177,0:134,21:1670',
 '21:1,22:61,23:2903,0:2719,7:5,6:17',
 '13:1212,15:1,22:184,17:2199,23:1045,16:1100,14:1246',
 '13:83,23:128',
 '11:8627,10:9737,13:3258,12:3831,20:407,22:842,17:1541,16:1291,19:1590,18:3027,21:195,0:1561,5:41,4:1372,7:2713,6:2910,9:4157,8:6205,14:958',
 '11:2584,13:2757,12:2470,20:23671,14:3203,17:20558,23:57367,19:14338,18:9542,16:12750,22:36543,1:44554,0:52053,3:1240,2:20813,15:3148,21:17492',
 '12:13',
 '1:481',
 '0:197',
 '11:398,10:383,13:650,12:355,20:84,21:644,22:374,16:1474,18:298,17:24,8:160,9:647,15:592,14:1062',
 '20:1386',
 '11:9836,10:9467,13:5343,12:3827,15:9354,14:10525,17:1647,16:3594,19:3700,18:2963,9:476,20:1200',
 '11:1079,10:233,13:568,12:584,15:153,9:1146',
 '21:48',
 '11:3101,10:532,12:4386,20:1289,21:2989,17:686,23:8209,19:374,22:12820,0:972,16:122,14:486',
 '11:2159,10:3056,13:4206,12:2614,15:3696,14:1840,17:10,16:1147,9:646',
 '11:2549,10:956,13:17,12:1308,14:1557,21:107',
 '11:2384,10:1556,13:433,12:1310,20:2640,21:1992,17:940,16:4010,19:1708,18:836,8:4735,7:1792,6:515,9:249,15:4728,14:1720',
 '12:1065,15:23,21:5',
 '13:246,20:455,14:278,19:218,1:1269,0:625,7:3067,6:1272,15:132,21:105',
 '11:2795,10:18,13:70,12:4371,20:544,17:3287,22:409,23:32,19:47,18:434,16:49,1:263,0:106,15:3329,14:544',
 '11:54,13:567,12:2730,15:895,21:3899,17:3547,16:1360,19:382,23:2436,22:138,1:4090,0:401,3:2527,2:7815,4:1007,20:2689,14:1272',
 '11:759,10:551,13:272,12:790,15:989,14:533,22:52,23:33,18:93,20:3119,0:9,3:4,5:213,6:337,9:6817,8:665,21:773',
 '19:1134,18:793',
 '13:4501,12:1927,15:1175,14:177,16:14575,5:693',
 '18:3287,17:1424',
 '11:1453,10:2301,13:7,12:138,20:16733,17:6341,22:8226,16:4993,19:25418,18:7630,23:17390,21:8360,15:2776,1:1760,0:10983,7:875,9:7215,8:647,14:4445',
 '11:1091,10:3844,13:1447,12:770,15:2886,14:1211,16:4648,18:1058,7:3476,6:1026,9:10038,8:6266',
 '13:554,15:21,21:39,22:15,16:4,19:0,7:22,6:253,9:28',
 '10:168,20:3706,22:400,17:1526,23:781,19:1103,18:1294,9:841,15:267,21:2635',
 '1:1811,0:2232,2:59',
 '20:300,21:310,17:452,16:1586',
 '10:8100,13:1279,12:1021,15:5447,14:685,17:779,16:1907,19:119,23:2,1:3450,0:2379,2:2,7:597,9:7217',
 '11:1431,10:3573,13:7392,12:7460,20:3567,21:113,23:486,19:481,18:3805,9:7777,8:5973,14:368',
 '13:62,23:662,16:206,1:2257,0:1496,3:1420,2:1572',
 '15:1007,21:3671,17:571,16:342,19:2158,18:2877,22:2148,20:1901',
 '11:2684,20:2361,21:438,22:3221,19:6055,18:3459,17:20',
 '15:585,22:40,23:2496',
 '1:45,0:1795,21:2793,22:4850,23:6698',
 '11:343,0:1547,1:2293,23:1496',
 '20:70',
 '23:24',
 '11:1435,10:3042,13:719,12:785,20:6873,21:9010,17:9293,23:5652,19:9398,18:5760,16:12815,22:2341,15:3810,0:887,6:4,9:208,8:667,14:3074',
 '13:1475,12:433,15:4453,14:447,17:1105,16:4823,19:73,18:1069,5:1061,20:103,21:2484',
 '11:16,13:4213,12:1800,15:2902,14:4944,17:4254,16:3295',
 '11:1625,13:2769,12:474,15:82,21:269,22:2879,23:15476,16:2035,1:1048,0:6527,14:765',
 '11:2448,10:953,13:4448,12:2153,15:860,14:1123,17:1289,16:2917,22:116,9:1005',
 '19:1474,18:398,9:436,15:40',
 '11:0,18:29,16:70,14:10,19:120',
 '11:10333,10:9499,13:9635,12:6229,20:3720,21:3159,17:7431,16:12946,19:5443,18:5326,23:2028,22:86,0:341,8:928,6:948,9:290,15:4889,14:6434',
 '10:38,13:169,20:3101,21:110,23:75,19:526,0:192,9:877',
 '11:2335,10:1376,13:913,12:2470,18:183,7:484,8:9426',
 '21:40',
 '11:2244,0:2720,23:2034',
 '11:3291,13:1496,12:78,15:220,14:10,17:17,16:40,19:73,18:24,22:6,7:25,23:606',
 '13:204,20:2924,14:724,17:2418,16:3896,19:648,18:623,22:455,21:7070,15:2522,23:639',
 '11:35160,10:14241,13:20126,12:54402,15:12599,14:16295,17:797,16:1234,1:9931,0:5991,3:441,2:4000',
 '18:18,15:399,14:348',
 '11:354,13:2085,12:2297,15:4469,14:3482,22:1078,23:1292,19:2351,18:1316,16:2116,21:356,1:23,0:1922,5:413,17:5880,7:999,6:834,9:230,20:3509,8:1142',
 '18:33,22:64',
 '13:52,20:1242,14:1353,17:20,16:1916,19:392,18:5875',
 '10:179,13:3379,12:1031,15:3085,14:3093,22:2985,23:2957,16:114,1:506,3:8381,2:2937,7:4734,8:3611',
 '11:2328,10:106,13:16,12:4207,21:2171,22:1203,23:3580',
 '11:14842,10:8980,13:8475,12:9637,20:5935,21:11219,22:20999,23:16975,19:456,18:1690,16:12073,15:11141,1:9350,0:11427,2:3144,17:87,8:158,14:9686',
 '15:1289,21:5588,22:1566,23:1566,19:1792,7:14,8:1355,20:1564',
 '11:1621,10:2043,13:2259,12:1226,15:2821,14:1316,22:4816,23:1898,19:6848,18:7960,16:1959,1:6934,0:1189,2:4329,17:2634,6:1544,9:3005,20:360,21:2091',
 '12:3636,20:865,22:802,17:1866,23:4281,19:3634,18:2073,1:4404,0:2550,3:2855,2:3,15:4054',
 '15:1260,21:3,17:1533',
 '10:1515,13:318,15:428,14:2011,19:3266,18:50,20:1613,1:274,0:296,7:40,9:439,8:48,21:2006',
 '21:17',
 '13:9,15:197,14:56,17:1457,18:4,9:279',
 '12:0,20:14,21:102',
 '13:47,20:8656,21:7906,22:11853,23:1242,19:2347,18:910,7:2891,8:287',
 '11:2921,10:4855,13:17100,12:9360,15:1255,14:4830,22:9930,23:13786,19:4141,18:1782,16:1435,1:1258,0:1520,17:1388,7:3418,8:3910,9:4775,20:2419,21:3461',
 '11:659,10:623,13:710,12:1276,15:398,14:1062,17:18,16:163,19:377,23:5,22:70,7:8,9:709,8:510',

In [76]:
final_3=[]
for i in range(len(days_of_week)):
    frames=[]
    user_time = time_of_day[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_time] for item in sublist]
#    flat_list = [int(i) for i in flat_list]
    time = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([time,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final_3.append(pd.DataFrame(final_df))
timeofday = pd.concat(final_3,join='outer', ignore_index=True, sort=False)
timeofday = timeofday.fillna(0)
time_key = pd.DataFrame(list(time_dict.items()),columns = ["tod_cat","hour"]) 
t = time_key.set_index('tod_cat').to_dict() 
timeofday.columns = timeofday.columns.to_series().map(t['hour']) 
time_of_day = timeofday

In [77]:
time_of_day.head(10) #Great

,6 pm,9 pm,5 pm,11 am,10 am,1 pm,12 pm,8 pm,4 pm,7 pm,...,2 am,9 am,3 pm,2 pm,8 am,7 am,6 am,5 am,3 am,4 am
0,1372,1862,320,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4274,9360,5734,7726,3521,2067,3844,4608,4438,3822,...,9807,2005,967,2807,0,0,0,0,0,0
2,101,3430,0,302,1594,331,133,3802,0,3683,...,0,4388,1640,3083,201,504,1874,0,0,0
3,0,0,0,0,122,0,77,0,2083,0,...,0,0,1800,0,0,0,0,0,0,0
4,6,1257,0,0,0,0,0,529,0,1268,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,21,4576,3284,0,0,0,...,0,0,2158,4446,0,0,1648,1490,0,0
7,0,0,0,0,0,0,0,2410,0,4245,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1031,0,224,0,0,691,3,0,...,4559,0,0,683,10,0,0,0,2556,0
9,0,0,0,0,0,67,0,0,0,976,...,0,0,0,0,0,0,0,0,0,0

Now time to concat all these dataframes together: city, genres, days, and time_of_day with the original df and drop cities, dow, tod and genres from that as they are being replaced with these new dataframes which we just created. For the record we will also drop titles watched. Reason being recommendations (or clustering) should do fine for now with the genres. Titles might be a bit of an overkill at this point, we will try and keep this as generic as possible. A genre drill down into titles might not be necessary at this point.

In [78]:
df_500.head()

#resetting index

,cities,dow,genres,segment,titles,tod,index,user
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",0,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","18:1372,21:1862,17:320",train-121672,121672
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",0,"Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",train-121673,121673
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",0,"India vs Australia 1st Test Hindi:83,India vs ...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",train-121670,121670
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",0,"Rangoon:77,India A vs England XI:3883,Kaabil:122","10:122,12:77,15:1800,14:0,16:2083",train-121671,121671
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,1,Koffee With Karan:8529,"20:529,21:1257,22:4930,23:538,19:1268,18:6",train-121676,121676

In [79]:
df_500 = df_500.reset_index()

In [80]:
df_500.head(4)

,level_0,cities,dow,genres,segment,titles,tod,index,user
0,train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",0,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","18:1372,21:1862,17:320",train-121672,121672
1,train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",0,"Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",train-121673,121673
2,train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",0,"India vs Australia 1st Test Hindi:83,India vs ...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",train-121670,121670
3,train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",0,"Rangoon:77,India A vs England XI:3883,Kaabil:122","10:122,12:77,15:1800,14:0,16:2083",train-121671,121671

In [81]:
df_500 = df_500.drop(["level_0","index"],1)

In [82]:
df_500.head()

,cities,dow,genres,segment,titles,tod,user
0,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",0,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","18:1372,21:1862,17:320",121672
1,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",0,"Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",121673
2,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",0,"India vs Australia 1st Test Hindi:83,India vs ...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",121670
3,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",0,"Rangoon:77,India A vs England XI:3883,Kaabil:122","10:122,12:77,15:1800,14:0,16:2083",121671
4,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,1,Koffee With Karan:8529,"20:529,21:1257,22:4930,23:538,19:1268,18:6",121676

In [83]:
train = pd.concat([df_500,city,genre,days,time_of_day],axis = 1)
drop = ['cities', 'dow', 'genres', 'titles', 'tod']
train = train.drop(drop,1)
train = train.apply(pd.to_numeric)

In [84]:
train.head(10) #Great now that's our final df and we will be using all columns or features

,segment,user,delhi,mumbai,ahmedabad,navi mumbai,chennai,bangalore,krishnarajapura,hosur,...,2 am,9 am,3 pm,2 pm,8 am,7 am,6 am,5 am,3 am,4 am
0,0,121672,3492,64,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,121673,0,26989,56666,0,0,0,0,0,...,9807,2005,967,2807,0,0,0,0,0,0
2,0,121670,0,0,0,29400,0,0,0,0,...,0,4388,1640,3083,201,504,1874,0,0,0
3,0,121671,0,0,0,4005,77,0,0,0,...,0,0,1800,0,0,0,0,0,0,0
4,1,121676,0,0,0,0,0,5135,529,2864,...,0,0,0,0,0,0,0,0,0,0
5,0,121677,0,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,121674,13142,0,0,0,0,0,0,0,...,0,0,2158,4446,0,0,1648,1490,0,0
7,0,121675,0,77,0,0,6205,373,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,121678,9492,19504,0,0,0,0,0,0,...,4559,0,0,683,10,0,0,0,2556,0
9,0,121679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
train["segment"].value_counts()

0    442
1     58
Name: segment, dtype: int64

In [86]:
#Unfortunately, we will have to do the same thing for the test set as well. Let's quickly get to that 
#and name the final_df as test

In [89]:
df = pd.read_json("/Users/amitagarwal/GreyAtom/Hackathon/Hotstar/data/test_data.json")
df = df.T

In [90]:
df.shape

(100000, 5)

In [91]:
test_copy = df.copy()

In [92]:
df = df.iloc[:500] #Take the first 500 rows of the test set

In [93]:
cities = df["cities"].values.tolist()

In [94]:
cities

['delhi:3890,chennai:12,navi mumbai:22650',
 'navi mumbai:4052',
 'hyderabad:2922,delhi:504,mumbai:1060',
 'thiruvananthapuram:1021',
 'navi mumbai:9381',
 'Unknown:16986,chennai:20',
 'karachi:8082',
 'dubayy:182',
 'delhi:1186',
 'navi mumbai:20481',
 'mumbai:98',
 'hyderabad:806,navi mumbai:2',
 'new delhi:1262,bangalore:2962,bhopal:22818',
 'new delhi:181,gurgaon:953,delhi:37',
 'dubayy:64797,bangalore:215',
 'dhaka:1805',
 'ulhasnagar:4,mumbai:2058',
 'chandigarh:4613,delhi:10821,navi mumbai:68,mumbai:194',
 'navi mumbai:1006',
 'hyderabad:54690,bangalore:1372,delhi:3194,navi mumbai:22067,los angeles:633',
 'navi mumbai:6',
 'delhi:27335',
 'navi mumbai:39684',
 'navi mumbai:2315',
 'navi mumbai:30619',
 'delhi:9116,mumbai:13714',
 'new delhi:4766,delhi:5698,mumbai:7999',
 'new delhi:11108,bangalore:15669,delhi:6699,chennai:3612,mumbai:7743',
 'Unknown:3297,delhi:28',
 'Unknown:2511,secunderabad:1858',
 'delhi:7',
 'dhaka:1076',
 'bhopal:10',
 'navi mumbai:1090',
 'bangalore:4833,delhi:495',
 'bangalore:5788,bengaluru:5333,navi mumbai:71118',
 'delhi:2352',
 'karachi:3612',
 'delhi:11,navi mumbai:530',
 'new delhi:11859,delhi:14681,chennai:51890,mumbai:242',
 'gurgaon:13178,bangalore:34,mumbai:9530',
 'delhi:1900,mumbai:12209',
 'gurgaon:2279,bhiwandi:2426,mumbai:2224',
 'mumbai:5455',
 'bangalore:15585,bengaluru:3146',
 'kolkata:7724,chennai:867',
 'delhi:7',
 'bangalore:25',
 'Unknown:289',
 'gurgaon:35273,delhi:0',
 'delhi:27783,navi mumbai:1783',
 'hyderabad:1896,bangalore:14891',
 'bangalore:11148',
 'dhaka:24939',
 'Unknown:4576,gurgaon:6254,mumbai:5583',
 'karachi:1489',
 'delhi:128,navi mumbai:21726',
 'hyderabad:40,navi mumbai:2964',
 'gurgaon:6243',
 'mumbai:4440',
 'chennai:20294,mumbai:18999',
 'gurgaon:7920',
 'delhi:2375',
 'delhi:0,mumbai:45756',
 'gurgaon:11546',
 'hyderabad:171455',
 'navi mumbai:30271',
 'gurgaon:1777,nagari:1892,mumbai:1574',
 'mumbai:18338,navi mumbai:19937,chandausi:691',
 'navi mumbai:86458',
 'bangalore:82,bhopal:556,mumbai:428',
 'delhi:1202',
 'navi mumbai:669',
 'kolkata:32959,bangalore:857,delhi:1637,mumbai:11568',
 'gurgaon:3379,chennai:10179,mumbai:61703',
 'navi mumbai:136625',
 'mumbai:63',
 'navi mumbai:36125',
 'new delhi:12,bangalore:95654,delhi:1265,pune:2439,navi mumbai:21861',
 'Unknown:24221,bangalore:123785,delhi:6069,ludhiana:936,mumbai:12816',
 'navi mumbai:2310',
 'delhi:116',
 'bangalore:196,chennai:1009,delhi:301,mumbai:21',
 'navi mumbai:47200',
 'bangalore:19191',
 'secunderabad:1166',
 'navi mumbai:14074',
 'mumbai:5896',
 'delhi:1614,mumbai:20022',
 'gurgaon:3073',
 'kolkata:379,bangalore:1886,mumbai:1752',
 'navi mumbai:3070',
 'Unknown:4954',
 'delhi:10506',
 'gurgaon:1349',
 'agra:9138',
 'navi mumbai:12,mumbai:17528',
 'pune:420',
 'bhubaneswar:3505',
 'kolkata:547,chennai:117,mumbai:7',
 'Unknown:1011',
 'Unknown:5380,delhi:13743,chennai:4322,navi mumbai:46394',
 'gurgaon:1862,delhi:1218,bengaluru:7367,bangalore:593',
 'pune:203',
 'bangalore:52271,delhi:50885,bengaluru:11957,navi mumbai:49310',
 'navi mumbai:27614',
 'chandigarh:7,delhi:93,new delhi:2159',
 'bengaluru:1027',
 'navi mumbai:511',
 'gurgaon:10558,mumbai:3830,Unknown:206974,thane:143519,kolkata:1323,bangalore:1214',
 'navi mumbai:2001',
 'delhi:6556,navi mumbai:33897',
 'navi mumbai:3232',
 'new delhi:89,navi mumbai:1275',
 'gurgaon:16,ahmedabad:11,mumbai:161',
 'delhi:5057,mumbai:122',
 'kolkata:2542,ahmedabad:1679,navi mumbai:72167,siliguri:9',
 'navi mumbai:14',
 'navi mumbai:1434',
 'navi mumbai:65',
 'delhi:403',
 'gurgaon:4215',
 'pune:4,delhi:26668',
 'navi mumbai:4698',
 'kolkata:43',
 'pune:5551',
 'delhi:477,mumbai:4938',
 'delhi:28',
 'secunderabad:5772,bangalore:1650,chennai:17351,srinagar:7220',
 'gurgaon:48303',
 'mumbai:4401',
 'delhi:1163',
 'Unknown:130',
 'hyderabad:2858',
 'gurgaon:253,delhi:11597,chennai:32314,bangalore:2755,mumbai:11785',
 'bangalore:86,gurgaon:710',
 'Unknown:24,bangalore:106,chennai:2,new delhi:9,mumbai:0',
 'al kuwayt:23709',
 'new delhi:1',
 'kolkata:1909,mumbai:180',
 'delhi:3327,mumbai:188',
 'bangalore:4697,navi mumbai:4807,mumbai:3613',
 'hyderabad:1552,bangalore:2328,bengaluru:530,gurgaon:24',
 'pune:9535,delhi:4921,gurgaon:313',
 'karachi:6417,rawalpindi:103358,Unknown:547',
 'navi mumbai:40215',
 'navi mumbai:56',
 'mumbai:1169',
 'navi mumbai:3',
 'navi mumbai:16846',
 'hyderabad:9775,bengaluru:1421,secunderabad:110',
 'chennai:371',
 'Unknown:1446',
 'new delhi:20,pune:4981,chennai:68443',
 'karachi:5,rawalpindi:90',
 'gurgaon:452,chennai:1192,mumbai:499',
 'dumka:32783',
 'gurgaon:30098,noida:14788,mumbai:27553',
 'dhaka:50681,gulshan:239',
 'pune:2604,delhi:735,bangalore:8,navi mumbai:0',
 'hyderabad:13786',
 'delhi:8816',
 'gurgaon:16',
 'singapore:3348',
 'bangalore:7797,navi mumbai:2320,mumbai:4075',
 'chandigarh:8245,mumbai:5534',
 'delhi:0,navi mumbai:577,mumbai:15343',
 'kolkata:2499,chennai:27364',
 'mumbai:2959',
 'new delhi:8388,mumbai:7978,delhi:7250,bengaluru:296,kolkata:10744,bangalore:3672',
 'hyderabad:17361,gulbarga:3330',
 'navi mumbai:14489,mumbai:142',
 'gurgaon:4029',
 'chandigarh:285,delhi:67308,navi mumbai:8394',
 'Unknown:532,bangalore:4406,delhi:0,navi mumbai:2665',
 'mumbai:10',
 'new delhi:5445,chennai:1430,delhi:179,nagar:120,mumbai:155',
 'chennai:640,delhi:54',
 'chandigarh:56695,delhi:1120,navi mumbai:19891,mumbai:45511',
 'navi mumbai:11891',
 'chennai:24813,delhi:1647,bengaluru:28,prabhadevi:776,mumbai:30475',
 'kathmandu:16244',
 'navi mumbai:30',
 'navi mumbai:6566',
 'bangalore:29,delhi:705,bengaluru:2468,chennai:386',
 'bangalore:11156,delhi:2292,mumbai:73',
 'kolkata:9984,pune:5595,bengaluru:590,bangalore:852,mumbai:1258',
 'navi mumbai:11325',
 'bangalore:42981,delhi:8249,bengaluru:18940,krishnarajapura:10193,mumbai:21636',
 'mumbai:7038',
 'gurgaon:47586',
 'mumbai:761',
 'chennai:5488',
 'delhi:5524,mumbai:5708',
 'coimbatore:6845,pune:14994,chennai:4172,mumbai:10001,Unknown:5791,delhi:75832,rajahmundry:549,bangalore:147377',
 'kolkata:516,navi mumbai:946,mumbai:110',
 'bangalore:144,bengaluru:162,navi mumbai:71',
 'gurgaon:517',
 'navi mumbai:46',
 'navi mumbai:6242',
 'navi mumbai:402',
 'navi mumbai:725',
 'navi mumbai:470',
 'karachi:2353,rawalpindi:3558,lahore:12701,Unknown:2126',
 'bangalore:701,delhi:61,navi mumbai:3231',
 'chennai:3485',
 'chennai:710,delhi:445,pune:4517',
 'chennai:7285',
 'gurgaon:7268,chennai:31505,navi mumbai:198,mumbai:2406',
 'bangalore:1064,navi mumbai:24397',
 'delhi:8693',
 'dombivli:3074',
 'delhi:20270,ranchi:814,navi mumbai:3214,jaipur:10172',
 'hyderabad:1038,mumbai:15210,son en breugel:3,amsterdam:24680',
 'dhaka:180,Unknown:354927,gulshan:73',
 'new delhi:18446',
 'karachi:73714',
 'kozhikode:1027',
 'hyderabad:62500,bangalore:43,delhi:801,mumbai:20935',
 'navi mumbai:2404',
 'mumbai:102361',
 'delhi:601,chennai:640',
 'navi mumbai:31398',
 'navi mumbai:31962',
 'kolkata:61',
 'navi mumbai:7807',
 'chennai:2059',
 'delhi:1498,navi mumbai:1846',
 'navi mumbai:718',
 'navi mumbai:8527',
 'Unknown:910,bangalore:1067,delhi:200,bengaluru:87,navi mumbai:1703',
 'prabhadevi:173,delhi:819,navi mumbai:129',
 'delhi:697,bengaluru:60,mumbai:65',
 'delhi:3658,navi mumbai:8962,palo alto:1271',
 'mumbai:103044',
 'delhi:28381',
 'delhi:4228,mumbai:15657',
 'delhi:26885',
 'navi mumbai:40148',
 'chandigarh:1180,gurgaon:1679,delhi:1666,pune:300',
 'delhi:6334,navi mumbai:1202',
 'bhopal:42645,nagar:3152',
 'gurgaon:14250,mumbai:15134',
 'hyderabad:2938,navi mumbai:383,mumbai:41',
 'karachi:4304,rawalpindi:5920,lahore:2449,islamabad:1213',
 'gurgaon:192,delhi:17',
 'vasai:16400,gurgaon:37,delhi:1,mumbai:1751',
 'new delhi:247,delhi:3112',
 'Unknown:23571',
 'navi mumbai:1725',
 'new delhi:1889,pune:1327,chennai:5674,navi mumbai:3115,mumbai:3482,Unknown:1305,bangalore:6268',
 'mumbai:2521',
 'chennai:321',
 'navi mumbai:1304',
 'navi mumbai:409,mumbai:13211',
 'new delhi:2513,chennai:971',
 'mumbai:7242',
 'navi mumbai:1609',
 'navi mumbai:7045',
 'delhi:60167,navi mumbai:2653',
 'navi mumbai:2668',
 'gurgaon:43077',
 'navi mumbai:16413',
 'dhaka:4136',
 'prabhadevi:606,delhi:534,mumbai:1068',
 'bangalore:2616,erode:3248,navi mumbai:133',
 'kolkata:16632,bangalore:15137',
 'bangalore:14827,navi mumbai:44416',
 'bangalore:1244',
 'bangalore:27603,delhi:16302,bengaluru:2209,krishnarajapura:3867,palo alto:16315',
 'chennai:3557',
 'delhi:6914,navi mumbai:0,mumbai:1480',
 'delhi:150',
 'mumbai:5235',
 'hyderabad:24899,bangalore:3313',
 'gurgaon:9795',
 'navi mumbai:44',
 'gandhinagar:2145,navi mumbai:2704',
 'delhi:37826,navi mumbai:283,mumbai:840',
 'mumbai:30372',
 'delhi:2013,nagari:1937',
 'navi mumbai:80',
 'hyderabad:456,navi mumbai:2918',
 'bangalore:2345,delhi:5038,navi mumbai:13365',
 'mumbai:6674',
 'navi mumbai:173',
 'chandigarh:2787,delhi:18450,navi mumbai:12599',
 'Unknown:101',
 'chandigarh:6583',
 'navi mumbai:88343',
 'navi mumbai:3776',
 'chennai:1150',
 'new delhi:28,bangalore:0,delhi:312',
 'delhi:7173,mumbai:6',
 'kolkata:300',
 'new delhi:775,bangalore:1672,delhi:4523,mumbai:25',
 'chandigarh:1618,bangalore:1380,delhi:5242,navi mumbai:8967',
 'gurgaon:17',
 'chennai:7218',
 'pune:212707,delhi:45804,prabhadevi:11632,mumbai:68131',
 'gurgaon:320,delhi:4278,navi mumbai:5421,mumbai:45',
 'kolkata:6799,Unknown:14909,ann arbor:53628,navi mumbai:288963',
 'navi mumbai:44722',
 'new delhi:1107,gurgaon:697,chennai:9073,delhi:2832,mumbai:5046',
 'chandigarh:1033,navi mumbai:102,mumbai:951',
 'karachi:39440',
 'navi mumbai:19551',
 'gurgaon:17,bengaluru:3639,mumbai:1126',
 'pune:30100,delhi:86510',
 'chandigarh:34686,delhi:1726,navi mumbai:10731',
 'mumbai:1799',
 'delhi:5',
 'navi mumbai:5827',
 'navi mumbai:5',
 'navi mumbai:2029',
 'mumbai:1411',
 'mumbai:211',
 'navi mumbai:38047',
 'new delhi:8249,delhi:2078,chennai:1974,navi mumbai:4901',
 'new delhi:5399,bangalore:422,delhi:12984,navi mumbai:71451,mumbai:3465',
 'bangalore:6322',
 'bangalore:710',
 'navi mumbai:460',
 'rawalpindi:416',
 'gandhinagar:12772,bangalore:4341,hyderabad:61',
 'gurgaon:27305,navi mumbai:4681',
 'Unknown:6251',
 'hyderabad:5850,chennai:1,bengaluru:1466,navi mumbai:5000',
 'bangalore:3790',
 'pune:1896,chennai:2979,navi mumbai:6310,mumbai:17570,delhi:79790,kolkata:4494',
 'mumbai:20227',
 'hyderabad:19273',
 'ar riya:1700',
 'navi mumbai:77',
 'dubayy:52739',
 'chandigarh:53',
 'surat:2667,hyderabad:1999,ahmedabad:6507,vadodara:4075',
 'bangalore:1363,navi mumbai:23579',
 'Unknown:1113,bangalore:27173',
 'karachi:2459',
 'pune:3853',
 'lucknow:2487,mumbai:88906',
 'chandigarh:908,pune:5176,delhi:7253,nagari:3529',
 'gurgaon:9',
 'Unknown:5,bangalore:2238,pune:20707,mumbai:640',
 'bangalore:71',
 'navi mumbai:12944',
 'navi mumbai:19724',
 'navi mumbai:34583',
 'hyderabad:6433,bangalore:9719',
 'mumbai:33',
 'mumbai:58',
 'chennai:3339,delhi:1485,gurgaon:1759,navi mumbai:1797,mumbai:6',
 'bangalore:50958,chennai:8780',
 'delhi:10138,nagar:10992',
 'new delhi:51,bangalore:816,delhi:3565',
 'mumbai:328',
 'hyderabad:14381,bengaluru:2',
 'ludhiana:48357',
 'delhi:1584',
 'navi mumbai:898',
 'delhi:36070,chennai:10068,navi mumbai:12286,mumbai:2989',
 'navi mumbai:49949',
 'mumbai:140',
 'gandhinagar:231459',
 'pune:24',
 'chennai:87983,delhi:53271,ahmedabad:20585,mumbai:30366',
 'navi mumbai:1890',
 'bangalore:3067',
 'kalyan:68495,mumbai:109647',
 'gurgaon:897,mumbai:14756',
 'new delhi:77,bangalore:23844,delhi:16,bengaluru:20710,ramaiah institute of technology:116',
 'pune:2921,delhi:39,navi mumbai:752',
 'bhopal:7882',
 'Unknown:369,bangalore:8765,chennai:741,bengaluru:775',
 'gurgaon:294,delhi:325',
 'mumbai:2838',
 'gurgaon:3211',
 'hyderabad:1343,mumbai:3244',
 'mumbai:142',
 'Unknown:41832,pune:962,delhi:2900',
 'delhi:3121,chennai:113',
 'gurgaon:320,delhi:1156,pune:756,mumbai:38433',
 'mumbai:69',
 'chennai:27186',
 'delhi:9629',
 'delhi:12535,mumbai:718',
 'pune:1153,delhi:19484,mumbai:2994',
 'navi mumbai:1465',
 'hyderabad:24885',
 'delhi:128',
 'delhi:62,navi mumbai:2448,bhopal:5',
 'navi mumbai:123843',
 'bangalore:12658,bengaluru:7822',
 'gurgaon:34351',
 'karachi:3272',
 'bangalore:1998,bengaluru:4936,mumbai:253',
 'navi mumbai:1162',
 'mumbai:2046',
 'navi mumbai:33,mumbai:287',
 'sikar:991',
 'navi mumbai:10093,mumbai:467',
 'delhi:47,navi mumbai:25499,mumbai:443',
 'delhi:5204',
 'bangalore:116676,krishnarajapura:1209,bengaluru:11194,domlur:8686,mumbai:151',
 'navi mumbai:1504',
 'delhi:122',
 'navi mumbai:4195',
 'navi mumbai:48,mumbai:136',
 'guwahati:18077',
 'hyderabad:44,bangalore:526,mumbai:2142',
 'Unknown:8871,delhi:47713',
 'chandigarh:1008,navi mumbai:4918',
 'pune:1380,mumbai:357',
 'karachi:9890',
 'Unknown:2,navi mumbai:132',
 'karachi:9,rawalpindi:4879,lahore:387',
 'gurgaon:894',
 'kolkata:122,navi mumbai:3167',
 'delhi:3758,mumbai:28714',
 'kolkata:2836,mumbai:1409',
 'gurgaon:5202,chennai:2076,al kuwayt:20999,Unknown:2817,prabhadevi:4643,bengaluru:6894,kolkata:2918,bangalore:56174',
 'regina:2940',
 'gurgaon:9572',
 'gurgaon:42',
 'Unknown:300,bangalore:473',
 'navi mumbai:52245',
 'bangalore:20,mumbai:1167',
 'Unknown:19373,chennai:3995',
 'Unknown:3054,bangalore:17995',
 'chennai:9410,delhi:5116,navi mumbai:0',
 'navi mumbai:4770',
 'pune:840,delhi:129',
 'mumbai:89778',
 'navi mumbai:2582',
 'chandigarh:1113,bangalore:1314,mumbai:990',
 'Unknown:2747',
 'lahore:20',
 'gurgaon:13706,navi mumbai:193283',
 'gurgaon:29077,delhi:2783,pune:2771',
 'navi mumbai:105',
 'navi mumbai:24764',
 'delhi:590',
 'gurgaon:20',
 'chandigarh:65,mumbai:23',
 'mumbai:79',
 'new delhi:163639,delhi:0',
 'navi mumbai:30554',
 'navi mumbai:18213',
 'new delhi:89,mumbai:6152',
 'navi mumbai:540,mumbai:1370',
 'hyderabad:71273',
 'hyderabad:115520,gurgaon:27,delhi:56409,mumbai:14329',
 'chandigarh:33883,mumbai:14369',
 'jhansi:1671',
 'chandigarh:14758,delhi:472,navi mumbai:7102',
 'bangalore:11539,jaipur:6117',
 'navi mumbai:38625',
 'navi mumbai:387',
 'secunderabad:69',
 'chennai:50,navi mumbai:19',
 'kolkata:0,bangalore:1149,chennai:3,navi mumbai:2936',
 'gurgaon:84141,chembur:13659,mumbai:20237',
 'pune:600,delhi:7868,gurgaon:6920,mumbai:12',
 'delhi:4160',
 'dhaka:517,Unknown:3,chittagong:1,gulshan:13701',
 'mumbai:28',
 'hyderabad:586,bangalore:3887,bengaluru:933,mumbai:372',
 'mumbai:6358',
 'navi mumbai:12069',
 'Unknown:141,bangalore:5017',
 'hyderabad:94,delhi:376,navi mumbai:6377,mumbai:8929',
 'delhi:6214,navi mumbai:58906',
 'pune:147,navi mumbai:467',
 'navi mumbai:7463',
 'pune:8350,delhi:2929',
 'navi mumbai:2575,mumbai:3012',
 'delhi:4104',
 'delhi:64',
 'kolkata:1658,mumbai:4990',
 'ar riya:1568',
 'delhi:49',
 'mumbai:82',
 'navi mumbai:0,mumbai:5748',
 'navi mumbai:12',
 'kolkata:733,gurgaon:65154',
 'navi mumbai:4502',
 'gurgaon:912,chennai:2852',
 'new delhi:1304,chennai:24120,mumbai:13459',
 'bangalore:35',
 'chennai:21200',
 'chennai:28',
 'navi mumbai:13365',
 'gurgaon:458,navi mumbai:112',
 'hyderabad:427,bangalore:39177',
 'navi mumbai:105',
 'navi mumbai:132',
 'delhi:319,nagar:8295,navi mumbai:6',
 'kolkata:189,new delhi:204,gurgaon:4829,delhi:4803,bengaluru:43',
 'delhi:283']

In [95]:

final=[]
for i in range(len(cities)):
    frames=[]
    user_cities = cities[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_cities] for item in sublist]
    city = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([city,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final.append(pd.DataFrame(final_df))
    
city = pd.concat(final,join='outer', ignore_index=True, sort=False)
city = city.fillna(0)

In [96]:
genres = df["genres"].values.tolist()
final_1=[]
for i in range(len(genres)):
    frames=[]
    genre = genres[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in genre] for item in sublist]
    flat_list = [i.lower() for i in flat_list]
    genre_1 = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    genre_df = pd.concat([genre_1,second],ignore_index = True)
    genre_df.columns = genre_df.iloc[0]
    genre_df = genre_df.drop([0],0)
    frames.append(genre_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final_1.append(pd.DataFrame(final_df))
    
genre = pd.concat(final_1,join='outer', ignore_index=True, sort=False)
genre = genre.fillna(0) 

days_of_week = df["dow"].values.tolist()
    
final_2=[]
for i in range(len(days_of_week)):
    frames=[]
    user_days = days_of_week[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_days] for item in sublist]
#    flat_list = [int(i) for i in flat_list]
    day = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([day,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final_2.append(pd.DataFrame(final_df))

days = pd.concat(final_2,join='outer', ignore_index=True, sort=False)
days = days.fillna(0)
    
days_dict = {"1":"Sunday", "2":"Monday", "3":"Tuesday", "4":"Wednesday", "5":"Thursday", 
             "6":"Friday", "7":"Saturday"} 
    
day_key = pd.DataFrame(list(days_dict.items()),columns = ["dow_cat","day"])  
d = day_key.set_index('dow_cat').to_dict()  
days.columns = days.columns.to_series().map(d['day'])
#time_dict = {"0":"12 am",
#             "1":"1 am"
#             "2":"2 am"
#             "3":"3 am"
#             "4":"4 am"
#        }

time_am = [str(x) for x in range(0,12)]
time_pm=[str(x) for x in range(12,24)]
am=[str(x)+ " am" for x in range(0,12)]
pm=[str(x)+ " pm" for x in range(0,12)]
d1 = dict(zip(time_am,am))
d2 = dict(zip(time_pm,pm))
d1["0"] = "12 am"
d2["12"] = "12 pm"
time_dict = {**d1,**d2}

time_of_day = df["tod"].values.tolist()

final_3=[]
for i in range(len(days_of_week)):
    frames=[]
    user_time = time_of_day[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_time] for item in sublist]
#    flat_list = [int(i) for i in flat_list]
    time = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([time,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True, sort=False)
    final_3.append(pd.DataFrame(final_df))
timeofday = pd.concat(final_3,join='outer', ignore_index=True, sort=False)
timeofday = timeofday.fillna(0)
time_key = pd.DataFrame(list(time_dict.items()),columns = ["tod_cat","hour"]) 
t = time_key.set_index('tod_cat').to_dict() 
timeofday.columns = timeofday.columns.to_series().map(t['hour']) 
time_of_day = timeofday

In [97]:



df["index"] = df.index
df["user"] = df["index"].str.replace("train-","")

df = df.reset_index()

In [98]:
test = pd.concat([df,city,genre,days,time_of_day],axis = 1)
drop = ['level_0', 'cities', 'dow', 'genres', 'titles', 'tod', 'index']
test = test.drop(drop,1)
test["user"] = test["user"].str.replace("test-","")

In [99]:
test = test.apply(pd.to_numeric)

In [100]:
test.head()

,user,delhi,chennai,navi mumbai,hyderabad,mumbai,thiruvananthapuram,Unknown,karachi,dubayy,...,2 am,7 am,6 am,9 am,8 am,2 pm,3 pm,3 am,5 am,4 am
0,23855,3890,12,22650,0,0,0,0,0,0,...,567,340,1330,304,684,817,0,0,0,0
1,23854,0,0,4052,0,0,0,0,0,0,...,0,0,0,0,0,0,775,0,0,0
2,23857,504,0,0,2922,1060,0,0,0,0,...,0,0,0,0,0,0,37,0,0,0
3,23856,0,0,0,0,0,1021,0,0,0,...,0,0,0,0,0,0,91,0,0,0
4,23851,0,0,9381,0,0,0,0,0,0,...,0,0,0,0,0,0,244,0,0,0

In [101]:
#Now our train consists of 2000 data points and test of 500

In [102]:
#Let's do a small train accuracy finding exercise first. We will see the first exerecise on a training set of 500
#samples only and run a log reg. Basically we have 500 samples from the train, we will break this down into test and train
#and run a 
#log reg

In [103]:
train.head(5)

,segment,user,delhi,mumbai,ahmedabad,navi mumbai,chennai,bangalore,krishnarajapura,hosur,...,2 am,9 am,3 pm,2 pm,8 am,7 am,6 am,5 am,3 am,4 am
0,0,121672,3492,64,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,121673,0,26989,56666,0,0,0,0,0,...,9807,2005,967,2807,0,0,0,0,0,0
2,0,121670,0,0,0,29400,0,0,0,0,...,0,4388,1640,3083,201,504,1874,0,0,0
3,0,121671,0,0,0,4005,77,0,0,0,...,0,0,1800,0,0,0,0,0,0,0
4,1,121676,0,0,0,0,0,5135,529,2864,...,0,0,0,0,0,0,0,0,0,0

In [104]:
from sklearn.model_selection import train_test_split as tts
y = train["segment"]
X = train.drop(["segment"],1)
print (X.shape)
print (df.shape)
y.value_counts()

(500, 118)
(500, 8)

0    442
1     58
Name: segment, dtype: int64

In [105]:
from imblearn.over_sampling import SMOTE

In [106]:
sm = SMOTE(random_state=42)

In [107]:
X_train,X_test,y_train,y_test = tts(X,y,test_size = 0.2,random_state = 42)

In [108]:
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

In [109]:
cols = X_train.columns

In [110]:
X_train_res = pd.DataFrame(X_train_res,columns = cols)

In [111]:
y_train_res = pd.Series(y_train_res)

In [112]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [113]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [114]:
log_reg.fit(X_train_res,y_train_res)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [115]:
y_pred = log_reg.predict(X_test)

In [116]:
print (accuracy_score(y_test,y_pred)) #Gives us 0.86 for 500 train samples with log reg

0.84

In [117]:
#Good, Let's increase the train size to 2000 samples and see the training accuracy with a log reg

#Decreases to 65%. Putting a decision tree instead

In [118]:
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier(min_samples_leaf=0.20, max_depth=40, min_samples_split=4)
dc.fit(X_train_res,y_train_res)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=40,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=0.2, min_samples_split=4,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [119]:
y_pred = dc.predict(X_test)

In [120]:
accuracy_score(y_test,y_pred)

0.56

In [121]:
from sklearn.ensemble import RandomForestClassifier

In [122]:
rfc= RandomForestClassifier(n_estimators=100)

In [123]:
rfc.fit(X_train_res,y_train_res)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [124]:
y_pred = rfc.predict(X_test)

In [125]:
accuracy_score(y_test,y_pred) #Great. Gives us a 87%

0.88