In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import json
import re
import pickle
import seaborn as sns
import os

In [6]:
#import test and train data into dataframe..
os.getcwd()
os.chdir('/Users/amitagarwal/GreyAtom/Hackathon/hotstar_dataset')
train_data = pd.read_json('train_data.json',orient='index')
test_data = pd.read_json('test_data.json',orient='index')

In [7]:
train_data.head()

,cities,dow,genres,segment,titles,tod
train-121672,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","18:1372,21:1862,17:320"
train-121673,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936..."
train-121670,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"India vs Australia 1st Test Hindi:83,India vs ...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2..."
train-121671,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"Rangoon:77,India A vs England XI:3883,Kaabil:122","10:122,12:77,15:1800,14:0,16:2083"
train-121676,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,Koffee With Karan:8529,"20:529,21:1257,22:4930,23:538,19:1268,18:6"

In [9]:
train_data.to_pickle("dummy.pkl")

In [15]:
df = pd.read_pickle("dummy.pkl")

In [16]:
df = df.iloc[:500]

In [18]:
df.shape

(500, 6)

In [19]:
df["index"] = df.index

In [20]:
df["user"] = df["index"].str.replace("train-","")

In [22]:
df = df.drop(["index"],1)

In [25]:
df = df.reset_index()

In [27]:
df = df.drop(["index"],1)

In [28]:
df.head()

,cities,dow,genres,segment,titles,tod,user
0,"delhi:3492,mumbai:64","5:482,4:3008,7:64","Drama:6,Cricket:3469,Wildlife:79",neg,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","18:1372,21:1862,17:320",121672
1,"ahmedabad:56666,mumbai:26989","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","Drama:48949,Family:9927,Crime:1901,Romance:165...",neg,"Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",121673
2,navi mumbai:29400,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...",neg,"India vs Australia 1st Test Hindi:83,India vs ...","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",121670
3,"chennai:77,navi mumbai:4005,mumbai:0","1:77,2:3883,5:122","Romance:77,Drama:122,Cricket:3883",neg,"Rangoon:77,India A vs England XI:3883,Kaabil:122","10:122,12:77,15:1800,14:0,16:2083",121671
4,"bangalore:5135,krishnarajapura:529,hosur:2864","1:6150,3:2378",TalkShow:8529,pos,Koffee With Karan:8529,"20:529,21:1257,22:4930,23:538,19:1268,18:6",121676

In [31]:
cities_data = [[str("" + i) for i in re.sub(pattern='\:\d+', repl='', string = x).split(',')] for x in df['cities']]
cities_data = frozenset.union(*pd.Series(cities_data).apply(frozenset))

In [33]:
cities_data = [[str("" + i) for i in re.sub(pattern='\:\d+', repl='', string = x).split(',')] for x in df['cities']]

In [35]:
cities_data = frozenset.union(*pd.Series(cities_data).apply(frozenset))

In [36]:
cities_data

frozenset({'Unknown',
           'ahmedabad',
           'al kuwayt',
           'ann arbor',
           'ar riya',
           'bangalore',
           'barcelona',
           'bengaluru',
           'bhopal',
           'bhubaneswar',
           'chandigarh',
           'chennai',
           'chittagong',
           'delhi',
           'dhaka',
           'dubayy',
           'gandhinagar',
           'gulshan',
           'gurgaon',
           'hong kong',
           'hosur',
           'hyderabad',
           'islamabad',
           'jiddah',
           'karachi',
           'kathmandu',
           'kochi',
           'kolkata',
           'krishnarajapura',
           'lahore',
           'ludhiana',
           'madikeri',
           'madrid',
           'mangalore',
           'mira-bhayandar',
           'mumbai',
           'nagar',
           'nagari',
           'naihati',
           'navi mumbai',
           'new delhi',
           'noida',
           'papeete',
           'perth',
           'peshawar',
           'prabhadevi',
           'pune',
           'ramaiah institute of technology',
           'ranchi',
           'rawalpindi',
           'secunderabad',
           'singapore',
           'srinagar',
           'surat',
           'suri',
           'thane',
           'thiruvananthapuram',
           'tiruchirappalli',
           'vadodara',
           'vasai'})

In [ ]:
def get_cities_freq(row):
    
    cities_dict = {}
    for cities in row.cities.split(","):
        cities_name, cities_wt = cities.split(":")
        cities_dict[str("cities_" + cities_name)] = int(cities_wt)
    
    cities_freq = {}
    for i in cities_data:
        if i in cities_dict:
            cities_freq[i] = cities_dict[i] 
        else:
            cities_freq[i] = 0            

    return pd.Series(cities_freq)