In [1]:
#!curl "https://onedrive.live.com/download?cid=C132C52D965EBCB9&resid=C132C52D965EBCB9%21694&authkey=AHOpX2K5oup50Ss"

In [2]:
#!curl "https://onedrive.live.com/download?cid=C132C52D965EBCB9&resid=C132C52D965EBCB9%21694&authkey=AHOpX2K5oup50Ss" -L -o train_file.pkl

In [2]:
import pandas as pd
import os

In [7]:
df = pd.read_json("/Users/amitagarwal/GreyAtom/Hackathon/Hotstar/data/train_data.json")

In [8]:
df = df.T
df_500 = df.iloc[:2000]

In [9]:
df_500.shape

(2000, 6)

In [10]:
df_500["cities"] #Thankfully all of them are lower case. 
import warnings
warnings.filterwarnings("ignore")
df_500["index"] = df_500.index

In [11]:
df_500["user"] = df_500["index"].str.replace("train-","")

In [12]:
df_500["segment"] = df_500["segment"].str.replace("neg","0")
df_500["segment"] = df_500["segment"].str.replace("pos","1")

In [13]:
df_500["segment"].value_counts() #Imbalanced - We will deal with this later

0    1832
1     168
Name: segment, dtype: int64

In [14]:
cities = df_500["cities"].values.tolist()

In [15]:
first_row = cities[0].split(",")

In [16]:
flat_list_1 = [item for sublist in [i.split(':', 1) for i in first_row] for item in sublist]

In [17]:
city = pd.DataFrame(flat_list_1[0::2]).T
second = pd.DataFrame(flat_list_1[1::2]).T

In [18]:
s = pd.concat([city,second],ignore_index=True) #ignoring index is key, you will need them to reset to indexes 0 and 1
#will save countless minutes of pain, trying to figre out where the nans during concatenation came from. indexes are 
#key during a concat. if the dfs do not have similar indexes they will not concat accordingly 


s.columns = s.iloc[0] #making the first row or .iloc[0] as the header
s = s.drop([0],0) #dropping .iloc[0]th row

In [19]:
second_row = cities[1].split(",")

In [20]:
flat_list_2 = [item for sublist in [i.split(':', 1) for i in second_row] for item in sublist]

In [21]:
city = pd.DataFrame(flat_list_2[0::2]).T
second = pd.DataFrame(flat_list_2[1::2]).T
f = pd.concat([city,second],ignore_index=True)

In [22]:
f.columns = f.iloc[0] #making the first row or .iloc[0] as the header
f = f.drop([0],0) #dropping .iloc[0]th row

In [23]:
frames = [s,f]
fs = pd.concat(frames,join='outer', ignore_index=True)

In [24]:
fs.fillna(0)

  ahmedabad delhi mumbai
0         0  3492     64
1     56666     0  26989

In [25]:
final=[]
for i in range(len(cities)):
    frames=[]
    user_cities = cities[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_cities] for item in sublist]
    city = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([city,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True)
    final.append(pd.DataFrame(final_df))
    
city = pd.concat(final,join='outer', ignore_index=True)
city = city.fillna(0)

In [26]:
genres = df_500["genres"].values.tolist()

In [27]:
final_1=[]
for i in range(len(genres)):
    frames_genres=[]
    genre = genres[i].split(",")
    flat_list_g = [item for sublist in [i.split(':', 1) for i in genre] for item in sublist]
    flat_list_g = [i.lower() for i in flat_list_g]
    genre_1 = pd.DataFrame(flat_list_g[0::2]).T
    second_g = pd.DataFrame(flat_list_g[1::2]).T
    genre_df = pd.concat([genre_1,second_g],ignore_index = True)
    genre_df.columns = genre_df.iloc[0]
    genre_df = genre_df.drop([0],0)
    frames_genres.append(genre_df)
    final_df_g = pd.concat(frames_genres,join='outer', ignore_index=True)
    final_1.append(pd.DataFrame(final_df_g))

In [28]:
genre = pd.concat(final_1,join='outer', ignore_index=True)
genre = genre.fillna(0)

In [29]:
df = pd.read_json("/Users/amitagarwal/GreyAtom/Hackathon/Hotstar/data/train_data.json")
df = df.T
df = df.iloc[:1000]
import warnings
warnings.filterwarnings("ignore")
df["index"] = df.index
df_500 = df.copy()
df_500["user"] = df_500["index"].str.replace("train-","")
df_500["segment"] = df_500["segment"].str.replace("neg","0")
df_500["segment"] = df_500["segment"].str.replace("pos","1")

print ("1st level")
df_500 = df_500.drop(["index","titles"],1)
to_be_recommended = df_500.iloc[800:]
#to_be_recommended = to_be_recommended.drop(["genres"],1)
df_500 = df_500[:800]

cities = df_500["cities"].values.tolist()

final=[]
for i in range(len(cities)):
    frames=[]
    user_cities = cities[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_cities] for item in sublist]
    city = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([city,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True)
    final.append(pd.DataFrame(final_df))
    
city = pd.concat(final,join='outer', ignore_index=True)
city = city.fillna(0) 

genres = df_500["genres"].values.tolist()
final_1=[]
for i in range(len(genres)):
    frames_genres=[]
    genre = genres[i].split(",")
    flat_list_g = [item for sublist in [i.split(':', 1) for i in genre] for item in sublist]
    flat_list_g = [i.lower() for i in flat_list_g]
    genre_1 = pd.DataFrame(flat_list_g[0::2]).T
    second_g = pd.DataFrame(flat_list_g[1::2]).T
    genre_df = pd.concat([genre_1,second_g],ignore_index = True)
    genre_df.columns = genre_df.iloc[0]
    genre_df = genre_df.drop([0],0)
    frames_genres.append(genre_df)
    final_df_g = pd.concat(frames_genres,join='outer', ignore_index=True)
    final_1.append(pd.DataFrame(final_df_g))
    
genre = pd.concat(final_1,join='outer', ignore_index=True)
genre = genre.fillna(0) 

days_of_week = df_500["dow"].values.tolist()
final_2=[]
for i in range(len(days_of_week)):
    frames=[]
    user_days = days_of_week[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_days] for item in sublist]
#    flat_list = [int(i) for i in flat_list]
    day = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([day,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True)
    final_2.append(pd.DataFrame(final_df))

days = pd.concat(final_2,join='outer', ignore_index=True)
days = days.fillna(0)
days_dict = {"1":"Sunday", "2":"Monday", "3":"Tuesday", "4":"Wednesday", "5":"Thursday", 
             "6":"Friday", "7":"Saturday"} 
day_key = pd.DataFrame(list(days_dict.items()),columns = ["dow_cat","day"])  
d = day_key.set_index('dow_cat').to_dict()  
days.columns = days.columns.to_series().map(d['day'])
print ("Level 2")
time_am = [str(x) for x in range(0,12)]
time_pm=[str(x) for x in range(12,24)]
am=[str(x)+ " am" for x in range(0,12)]
pm=[str(x)+ " pm" for x in range(0,12)]
d1 = dict(zip(time_am,am))
d2 = dict(zip(time_pm,pm))
d1["0"] = "12 am" #changing 0 to 12 am
d2["12"] = "12 pm" #changing 12 to 12 pm 
time_dict = {**d1,**d2} #merging both dicts

time_of_day = df_500["tod"].values.tolist()
final_3=[]
for i in range(len(days_of_week)):
    frames=[]
    user_time = time_of_day[i].split(",")
    flat_list = [item for sublist in [i.split(':', 1) for i in user_time] for item in sublist]
#    flat_list = [int(i) for i in flat_list]
    time = pd.DataFrame(flat_list[0::2]).T
    second = pd.DataFrame(flat_list[1::2]).T
    concatenated_df = pd.concat([time,second],ignore_index=True)
    concatenated_df.columns = concatenated_df.iloc[0]
    concatenated_df = concatenated_df.drop([0],0)
    frames.append(concatenated_df)
    final_df = pd.concat(frames,join='outer', ignore_index=True)
    final_3.append(pd.DataFrame(final_df))
timeofday = pd.concat(final_3,join='outer', ignore_index=True)
timeofday = timeofday.fillna(0)
time_key = pd.DataFrame(list(time_dict.items()),columns = ["tod_cat","hour"]) 
t = time_key.set_index('tod_cat').to_dict() 
timeofday.columns = timeofday.columns.to_series().map(t['hour']) 
time_of_day = timeofday

df_500 = df_500.reset_index()
#train = pd.concat([df_500,city,genre,days,time_of_day],axis = 1)

1st level
Level 2

In [45]:
train = pd.concat([df_500,city,genre,days,time_of_day],axis = 1)

In [46]:
drop = ['cities', 'dow', 'genres','tod','index','segment']
train = train.drop(drop,1)

train = train.apply(pd.to_numeric)

In [47]:
train.head()

,user,Unknown,ahmedabad,al kuwayt,ann arbor,ar riya,bangalore,barcelona,bengaluru,bhopal,...,9 pm,10 pm,11 pm,3 am,4 am,5 am,6 am,7 am,8 am,9 am
0,121672,0,0,0,0,0,0,0,0,0,...,1862,0,0,0,0,0,0,0,0,0
1,121673,0,56666,0,0,0,0,0,0,0,...,9360,304,2988,0,0,0,0,0,0,2005
2,121670,0,0,0,0,0,0,0,0,0,...,3430,2219,2111,0,0,0,1874,504,201,4388
3,121671,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,121676,0,0,0,0,0,5135,0,0,0,...,1257,4930,538,0,0,0,0,0,0,0

In [48]:
train = train.iloc[:10]

In [49]:
test = train.iloc[7:]

In [50]:
train = train.iloc[:7]

In [51]:
from sklearn.metrics.pairwise import cosine_similarity as cs
cols = train["user"].values.tolist()
cols = ["user "+ str(x) for x in cols]
corr_matrix = pd.DataFrame(cs(train),columns = cols)

In [52]:
corr_matrix

,user 121672,user 121673,user 121670,user 121671,user 121676,user 121677,user 121674
0,1.000000,0.798391,0.952144,0.997786,0.992856,0.998686,0.949831
1,0.798391,1.000000,0.833443,0.798616,0.794927,0.796284,0.773970
2,0.952144,0.833443,1.000000,0.959003,0.946379,0.950181,0.907394
3,0.997786,0.798616,0.959003,1.000000,0.992234,0.998188,0.948089
4,0.992856,0.794927,0.946379,0.992234,1.000000,0.994009,0.950160
5,0.998686,0.796284,0.950181,0.998188,0.994009,1.000000,0.948082
6,0.949831,0.773970,0.907394,0.948089,0.950160,0.948082,1.000000

In [53]:
test

,user,Unknown,ahmedabad,al kuwayt,ann arbor,ar riya,bangalore,barcelona,bengaluru,bhopal,...,9 pm,10 pm,11 pm,3 am,4 am,5 am,6 am,7 am,8 am,9 am
7,121675,0,0,0,0,0,373,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,121678,0,0,0,0,0,0,0,0,0,...,0,0,0,2556,0,0,0,0,10,0
9,121679,0,0,0,0,0,0,0,0,0,...,0,37,0,0,0,0,0,0,0,0

In [54]:
new_user = test.iloc[0]
#39,23,1,11,19
new_user = pd.DataFrame(new_user)
new_user = new_user.T
new_train = pd.concat([train,new_user]).fillna(0)
cols = new_train["user"].values.tolist()
cols = ["user "+ str(x) for x in cols]
corr_matrix = pd.DataFrame(cs(new_train),columns = cols)
corr_matrix

,user 121672,user 121673,user 121670,user 121671,user 121676,user 121677,user 121674,user 121675
0,1.000000,0.798391,0.952144,0.997786,0.992856,0.998686,0.949831,0.995910
1,0.798391,1.000000,0.833443,0.798616,0.794927,0.796284,0.773970,0.798662
2,0.952144,0.833443,1.000000,0.959003,0.946379,0.950181,0.907394,0.951155
3,0.997786,0.798616,0.959003,1.000000,0.992234,0.998188,0.948089,0.995461
4,0.992856,0.794927,0.946379,0.992234,1.000000,0.994009,0.950160,0.991180
5,0.998686,0.796284,0.950181,0.998188,0.994009,1.000000,0.948082,0.995706
6,0.949831,0.773970,0.907394,0.948089,0.950160,0.948082,1.000000,0.944934
7,0.995910,0.798662,0.951155,0.995461,0.991180,0.995706,0.944934,1.000000

In [55]:
line = corr_matrix.iloc[-1]
line = pd.DataFrame(line)
line["Users"] = line.index
user_id = line["Users"].iloc[-1]
line.columns = ["Similarity", "Users"]

In [56]:
line

             Similarity        Users
user 121672    0.995910  user 121672
user 121673    0.798662  user 121673
user 121670    0.951155  user 121670
user 121671    0.995461  user 121671
user 121676    0.991180  user 121676
user 121677    0.995706  user 121677
user 121674    0.944934  user 121674
user 121675    1.000000  user 121675

In [57]:
final = line[(line["Similarity"]>0.99) & (line["Similarity"]<1)]["Users"].values.tolist()
final = [x for x in final if x != cols[-1]]
users =[float(x.strip("user "))for x in final] 
users = [str(int(x)) for x in users]
ok = df_500[df_500['user'].isin(users)]
recos = ok["genres"].values.tolist()
#print (users)

In [58]:
recos

['Drama:6,Cricket:3469,Wildlife:79',
 'Romance:77,Drama:122,Cricket:3883',
 'TalkShow:8529',
 'TalkShow:5']

In [60]:
final_1=[]
for i in range(len(recos)):
    frames_genres=[]
    genre = recos[i].split(",")
    flat_list_g = [item for sublist in [i.split(':', 1) for i in genre] for item in sublist]
    flat_list_g = [i.lower() for i in flat_list_g]
    genre_1 = pd.DataFrame(flat_list_g[0::2]).T
    second_g = pd.DataFrame(flat_list_g[1::2]).T
    genre_df = pd.concat([genre_1,second_g],ignore_index = True)
    genre_df.columns = genre_df.iloc[0]
    genre_df = genre_df.drop([0],0)
    frames_genres.append(genre_df)
    final_df_g = pd.concat(frames_genres,join='outer', ignore_index=True)
    final_1.append(pd.DataFrame(final_df_g))
genre = pd.concat(final_1,join='outer', ignore_index=True)
genre = genre.fillna(0) 
print (genre)
print (user_id)

  cricket drama romance talkshow wildlife
0    3469     6       0        0       79
1    3883   122      77        0        0
2       0     0       0     8529        0
3       0     0       0        5        0
user 121675

In [61]:
genre = genre.apply(pd.to_numeric)
print(genre)

   cricket  drama  romance  talkshow  wildlife
0     3469      6        0         0        79
1     3883    122       77         0         0
2        0      0        0      8529         0
3        0      0        0         5         0

In [62]:
cols = genre.columns.tolist()
col_maxes =[]
for x in cols:
    col_maxes.append(genre[x].max())
d = dict(zip(cols,col_maxes))
d

{'cricket': 3883,
 'drama': 122,
 'romance': 77,
 'talkshow': 8529,
 'wildlife': 79}

In [64]:
import operator
f = sorted(d.items(), key=operator.itemgetter(1), reverse = True)
print (f)

[('talkshow', 8529), ('cricket', 3883), ('drama', 122), ('wildlife', 79), ('romance', 77)]

In [ ]:
recommendations = []
for x in f[:4]:
    recommendations.append(x[0])
print (recommendations)